In [102]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
import datetime
import re
import time
import random

In [116]:
data = []

In [117]:
csv_data = pd.read_csv('wiki-url.csv')
# csv_data

In [88]:
# movie = 'The way back'
# year = 2010
# # url = 'https://en.wikipedia.org/wiki/Avatar_(2009_film)'
# url = 'https://en.wikipedia.org/wiki/The_Way_Back_(2010_film)'

In [118]:

for ind, row in csv_data.iterrows():
    try:
        movie = row['Movie Title']
        year = row['year']
        url = row['ur']
        if type(url) == str:
            html = urlopen(url)
            soup = BeautifulSoup(html, 'html.parser')
            tables = soup.find_all('table')
            details = {}
            for table in tables:
                budgetflag = False
                rdflag = False
                budget = ''
                clbud, clud2, money, rd2, rd = '', '', '', '', ''
                rd = ''
                rows = table.find_all('tr')
                for row in rows:
                    cells = row.find_all('th')
                    for cell in cells:
                        if cell.text == 'Release dates' or cell.text == 'Release date':
                            rdflag = True
                        elif cell.text == 'Budget':
                            budgetflag = True
                    
                    if budgetflag:
                        cells = row.find_all('td')
                        for cell in cells:
                            # print(cell.text)
                            budget = cell.text

                            budget = re.sub('\[+\d+\]+', '', budget)
                            clbud = budget.replace(',', '')
                            clbud2 = re.findall('[0-9]+', clbud)[-1]
                            # print(clbud)
                            if 'million' in clbud:
                                money = float(clbud2) * 10**6
                            elif 'billion' in clbud:
                                money = float(clbud2) * 10**8
                            else:
                                money = float(clbud2)

                        budgetflag = False
                    
                    if rdflag:
                        cells = row.find_all('td')
                        for cell in cells:
                            # print(cell.text)
                            rd = cell.text
                            rd2 = rd.replace('-', '')
                            rd2 = re.findall('\(+\d+\)+', rd2)[-1]
                            rd2 = str(datetime.datetime.strptime(rd2, '(%Y%m%d)').date())

                        rdflag = False
                details = {'moviename': movie, 'release_date': rd, 'budget': budget, 'year': year, 'cleaned_budget': money, 'cleaned_release_date': rd2}
                print(movie)
                break
            data.append(details)
    except Exception as e:
        print(movie, e)
        # if ind == 10:
        #     break
        # time.sleep(random.randint(0, 10))

Aftershock
Umizaru 3: The Last Message
Bayside Shakedown 3: Set the Guys Loose
If You Are the One 2
A Turtle's Tale: Sammy's Adventures
Heartbreaker
StreetDance 2
The Man from Nowhere
SP: The Motion Picture I
Detective Conan: The Lost Ship in the Sky
Secret Reunion
Camping 2
Arthur 3: The War of the Two Worlds
Sacrifice
The Lady Shogun and Her Men
Liar Game: The Final Stage
Da Xiao Jiang Hu
Act of Vengeance
Under the Hawthorn Tree
Recep Ivedik 3
22 Bullets
Inazuma Eleven GO the Movie: The Ultimate Bonds Gryphon
Astral City: A Spiritual Journey
71: Into the Fire
How Not to Rescue a Princess
About Her Brother
Trick the Movie: Psychic Battle Royale
Hot Summer Days
Head Over Heels
Hankyu Railways - A 15-minute Miracle
What a Beautiful Day
Beginning of the Great Revival
A Ghost of a Chance
War of the Arrows
Detective Conan: Quarter of Silence
Gantz
SP: The Motion Picture II
Eiga Kaibutsukun
Gantz: Perfect Answer
Detective K: Secret of Virtuous Widow
All's Well, Ends Well 2011
Doraemon: Nobita and the New Steel Troops: ~Winged Angels~
My Own Swordsman
You Are the Apple of My Eye
Torrente 4
Unfair: The Answer
Yolki 2 list index out of range
The Women on the 6th Floor
A Monster in Paris
Ivan Tsarevich & the Grey Wolf
Eyyvah Eyvah 2
In His Chart
Andalucia: Revenge of the Goddess
Qualunquemente
Friends: Naki on the Monster Island
Kamen Rider OOO Wonderful: The Shogun and the 21 Core Medals
Gooische vrouwen
The Immature list index out of range
K-On! The Movie
Vicky and the Treasure of the Gods
The Front Line
Scabbard Samurai
Kaiji 2: The Ultimate Gambler
Lost in Thailand
Chinese Zodiac
Brave Hearts: Umizaru
Thermae Romae
One Piece Film Z
Bayside Shakedown the Final
Evangelion: 3.0 You Can (Not) Redo
Wolf Children
HOUBA! On the Trail of the Marsupilami
Tad: The Lost Explorer
A Turtle's Tale 2: Sammy's Escape from Paradise
A Werewolf Boy
Doraemon: Nobita and the Island of Miracles ~Animal Adventure~
Detective Conan: The Eleventh Striker list index out of range
Rurouni Kenshin Part I: Origins
Conquest 1453
Welcome to the North
Adventures in Zambezia
Three Heroes on Distant Shores
Bait
Nameless Gangster: Rules of the Time
The Floating Castle
The Dream Team
The Grand Heist
All About My Wife
SPEC: Heaven
We Were There: True Love
Architecture 101
Lesson of the Evil
Agneepath
Rust and Bone
Head Over Heels 2
The Last Tycoon
Housefull 2
Liar Game: Reborn
Little Brother, Big Trouble: A Christmas Adventure
Hotaru the Movie: It's Only a Little Light in My Life
Unbowed
Confession of Murder
Young Detective Dee: Rise of the Sea Dragon
American Dreams in China
Finding Mr. Right
The Fighter Pilot
The Attorney
Suck Me Shakespeer
Sole a catinelle
Stalingrad
Firestorm
Tiny Times 2.0
Badges of Fury
The White Storm
Secretly Greatly
The Chef, The Actor, The Scoundrel
Doraemon: Nobita's Secret Gadget Museum
Lupin III vs. Detective Conan: The Movie
Antoine and Sebastian
Cold Eyes
Detective Conan: Private Eye in the Distant Sea
Blind Detective
Midsummer's Equation
The After-Dinner Mysteries
101 Proposals
A Wedding Invitation
Silent Witness
The Suspect
The Four 2
The Kiyosu Conference
We Are the Nobles
One Night Surprise
Platinum Data
Me, Myself and Mum
Out of Inferno
Bring Happiness Home
Breakup Buddies
Stand by Me Doraemon
The Taking of Tiger Mountain
The Breakup Guru
Fleet of Time
Tiny Times 3.0
Gone with the Bullets
Spanish Affair
My Old Classmate
The House That Never Dies
The Pirate Fairy
The Inbetweeners 2
The White Haired Witch of Lunar Kingdom
Miss Granny
Supercondriaque
Rurouni Kenshin Part II: Kyoto Inferno
Coming Home
Love on the Cloud
The Great Hypnotist
Asterix and Obelix: Mansion of the Gods
Thermae Romae II
Detective Conan: The Sniper from Another Dimension
Rurouni Kenshin: The Legend Ends
Boonie Bears: To the Rescue
Recep Ivedik 4
Kundo: Age of the Rampant
Black & White: The Dawn of Justice
Don't Go Breaking My Heart 2
Old Boys: The Way of the Dragon
Tinker Bell and the Legend of the NeverBeast
The Four 3
Tazza: The Hidden Card
Mrs. Brown's Boys D'Movie
Rise of the Legend
The Fatal Encounter
The Divine Move
Nicholas on Holiday
Grace of Monaco
Joy of Fatherhood
Meet Miss Anxiety
Kung Fu Jungle
Hot Road
Jian Bing Man
From Vegas to Macau II
Mr. Six
Chronicles of the Ghostly Tribe
Suck Me Shakespeer 2
Wolf Warrior
The Left Ear
A Violent Prosecutor
Monk Comes Down the Mountain
Zhongkui: Snow Girl and the Dark Crystal
The Hundred Regiments Offensive
Forever Young
You Are My Sunshine
Detective Conan: Sunflowers of Inferno
Hollywood Adventures
Yo-kai Watch Movie: It's the Secret of Birth, Meow! list index out of range
The Boy and the Beast
Inside Men
Boonie Bears Winter
Let's Get Married
Spanish Affair 2
Ex-Files 2: The Backup Strikes Back
Boruto: Naruto The Movie
The New Adventures of Aladdin
Heidi
Doraemon: Nobita and the Space Heroes
Detective K: Secret of the Lost Island
Look Who's Back
Serial Teachers 2
From Vegas to Macau III
Time Raiders
Book of Love
Line Walker
Shin Godzilla
Quo vado?
One Piece Film: Gold
A Chinese Odyssey: Part Three
My Beloved Bodyguard
Doraemon the Movie: Nobita and the Birth of Japan
Two Is a Family
Luck-Key
Boonie Bears: The Big Top Secret
League of Gods
Love O2O
My Mom Is a Character 2
Crouching Tiger, Hidden Dragon: Sword of Destiny
Mission Milano
Nobunaga Concerto: The Movie
Os Dez Mandamentos - O Filme
Bounty Hunters
Assassination Classroom: The Graduation
A Silent Voice: The Movie
Flight Crew
Welcome to Germany
Call of Heroes
Soulmate
Camping 3
Spirits' Homecoming
Penny Pincher!
Never Say Die
Legend of the Demon Cat
Suck Me Shakespeer 3
Detective Conan: Crimson Love Letter
Doraemon: Great Adventure in the Antarctic Kachi Kochi
The Founding of an Army
Goldbuster
Gongjo
I, Tonya
1987: When the Day Comes
Sky Hunter
Hanson and the Beast
Guilty of Mind
Midnight Runners
Tad, the Lost Explorer, and the Secret of King Midas
Destiny: The Tale of Kamakura
The Liquidator list index out of range
R.A.I.D. Special Unit
I Want to Eat Your Pancreas
Hindi Medium
Steel Rain
The Invisible Guest
Alibi.com
Sword Art Online the Movie: Ordinal Scale
Recep Ivedik 5
What Happened to Monday
Love Off the Cuff
I Can Speak
Hello Mr. Billionaire
The Island
Project Gutenberg
Detective Conan: Zero the Enforcer
Boonie Bears: The Big Shrink
Kill Mobile
Doraemon the Movie: Nobita's Treasure Island
Code Blue: The Movie
Amazing China
L Storm
Capernaum
Andhadhun
A or B
Go Brother!
Cry Me a Sad River
Asterix: The Secret of the Magic Potion
Long Day's Journey Into Night
Intimate Strangers
Sink or Swim
Taxi 5
Fat Buddies
Nothing to Lose
T-34
Gintama 2: Rules are Made to be Broken
The Way of the Bug
Dark Figure of Crime
The Faces of My Gene
The Witch: Part 1 - The Subversion
Killing for the Prosecution
The Guernsey Literary and Potato Peel Pie Society
The Crimes That Bind
Europe Raiders
Stree
My People, My Country
The Captain
Crazy Alien
The White Storm 2: Drug Lords
P Storm
Detective Conan: The Fist of Blue Sapphire
Boonie Bears: Blast Into the Past
The New King of Comedy
Serial (Bad) Weddings 2
One Piece: Stampede
Eiga Doraemon: Nobita no getsumen tansaki
My Best Summer
Jade Dynasty
Das perfekte Geheimnis
The Big Shot
Song of Youth
The Legend of Hei
A Shaun the Sheep Movie: Farmageddon
Masquerade Hotel
A Witness Out of the Blue
The Queen's Corgi
Fly Me to the Saitama
Hit Me Anyone One More Time!
Somewhere Winter
Two Tigers
The Wild Goose Lake
Fall In Love At First Kiss
Kim Ji-young: Born 1982
Almost a Comedy
The Confidence Man JP: The Movie
Bodies at Rest
Son of a Rich
Start-Up
Little White Lies 2
Ossan's Love: Love or Dead
The Knight of Shadows: Between Yin and Yang
Crazy Romance
An Officer and a Spy
Crayon Shin-chan: Honeymoon Hurricane - The Lost Hiroshi
Legend of Deification
A Little Red Flower
Warm Hug
Caught in Time
The Yin-Yang Master: Dream of Eternity
Mulan
Greenland
Tolo Tolo
From Today, It's My Turn: The Movie
Trolls 2: World Tour
Tanhaji: The Unsung Warrior
The End of Endless Love
New Interpretation Records of the Three Kingdoms
The Confidence Man JP: Princess
My Mom is a Character 3
Doraemon the Movie: Nobita's New Dinosaur
Bath Buddy
Ala Vaikunthapurramuloo
Stigmatized Properties
Takizawa Enbujo Zero
The Promised Neverland
Kaiji: Final Game
Hitman: Agent Jun
Digimon Adventure: Last Evolution Kizuna
Bye Bye Morons
Nightlife
Samjin Company English Class
Shinchan: Crash! Scribble Kingdom and Almost Four Heroes
Ducobu 3
Wotakoi: Love Is Hard for Otaku
30 jours max
The Voice of Sin
Bigfoot Family
Me contro Te - Il film: La vendetta del Signor S
Street Dancer 3D
The Asadas
Stolen Identity 2
10 Days with Dad
Secret Zoo
365 Days
Okay Madam
I Hate Summer
Les blagues de Toto
The Secret Garden
Eltilerin Savasi
Two by Two: Overboard!
Your Eyes Tell
AI Amok
The Lost Prince
Antebellum
The Marriage Escape
The Heist of the Century
Fukushima 50
Turu, the Wacky Hen
Back to the Wharf
Adu
Spycies
Jim Button and the Wild 13
Dragon Rider
Psy 3: W imie zasad
Blood Moon Party
Shubh Mangal Zyada Saavdhan
Hammamet
Lindenberg! Mach dein Ding
Midnight Swan
Simply Black
Hotel Belgrade
How to Be a Good Wife
The Legacy Of Dr. Death: Black File
Jak zostalem gangsterem. Historia prawdziwa
Klassikokkutulek 2: Pulmad ja matused
Mama Weed
Divorce Club
Cindy La Regia
Love Aaj Kal
Masked Ward
Ayyappanum Koshiyum
Baba Parasi
Made in Abyss: Dawn of the Deep Soul
Godai - The Wunderkind
Military Wives
Streltsov list index out of range
The Vets
Detective Chinatown 3
Detective Conan: The Scarlet Bullet
Evangelion: 3.0+1.01 Thrice Upon a Time
End Game
Boonie Bears: The Wild Life
1921
Nezha Reborn
Man in Love
Break Through the Darkness
Love Will Tear Us Apart
Tokyo Revengers
The Yinyang Master
Rurouni Kenshin: Final Chapter Part I - The Final
The Door Lock
I Fell in Love Like a Flower Bouquet
Big Red Envelope
Masquerade Night
Once Upon a Time in Hong Kong
The Last Warrior: Root of Evil
The Last Warrior: A Messenger of Darkness
The Day We Lit Up the Sky
Wish Dragon
Les Tuche 4
Sinkhole
Mobile Suit Gundam: Hathaway
The Stronghold
Gintama: The Final
Upon the Magic Roads
Your Turn to Kill
Something About Love
The Tomorrow War
And, the Baton Was Passed
Crayon Shin-chan: Shrouded in Mystery! The Flowers of Tenkazu Academy
OSS 117: From Africa with Love
Hostage: Missing Celebrity
Vakeel Saab
Monkey King Reborn
School of Magical Animals
The Bodin's in the Land of Smile
The Fable: The Killer Who Doesn't Kill
What Did You Eat Yesterday?
Kaiserschmarrndrama
Caution, Hazardous Wife: The Movie
Realm of Terracotta
Detective Conan: The Scarlet Alibi
Baragaki: Unbroken Samurai
Ainbo
The Eleventh Chapter
Kaguya-sama: Love Is War
Honey Lemon Soda
I Don't Have Any Money Left in My Retirement Account
White Snake 2: Green Snake
Hard Hit
Little Canned Men
The Ice Road
Signal: The Movie
Couple from the Future
Extinct
Bheemla Nayak
Maison de retraite
Valimai
The Pirates: The Last Royal Treasure
Turning Red
The Policeman's Lineage
Adieu Monsieur Haffmann
Chickenhare and the Hamster of Darkness
Waiting for Bojangles
Bheeshma Parvam
Maigret
Koniec swiata czyli Kogel Mogel 4 <urlopen error [Errno 11001] getaddrinfo failed>
Special Delivery
Between Two Worlds
Etharkkum Thunindhavan
Permis de construire
The Glance of Music
Around the World in 80 Days
Fireheart
Bergen
The Grandmother
In Our Prime
Hridayam
Love, Sex & Pandemic
Aaraattu
Heart of Oak
Gierek
Mister Knockout
V lete ti poviem <urlopen error [Errno 11001] getaddrinfo failed>
Love Is Better Than Life
A Radiant Girl
Desperate for Marriage
Odinnadtsat molchalivykh muzhchin
The Butcher's Daughter list index out of range
Veerame Vaagai Soodum
Aaja Mexico Challiye
Krime Story
Alors on danse
My Brothers and I
Zero Fucks Given
Adieu Paris
The Ancestral
Zlatni decko <urlopen error [Errno 11001] getaddrinfo failed>
America Latina
Meppadiyan
Liubov i blohery <urlopen error [Errno 11001] getaddrinfo failed>
Lynx
Kaptan Pengu ve Arkadaslari 2
Benden Ne Olur
Ik wist het
Serve the People
Full Time
Hey Sinamika
Ek Love Ya
How I Learned to Fly
Murder Party
Reunion 2
Den slepogo valentina <urlopen error [Errno 11001] getaddrinfo failed>
The Best Weekend
Ali & Ava
The Contractor
C'era una volta il crimine
L'ombra del giorno
Nobody's Hero
Kung Fu Zohra
Three Times Nothing
The Sadness
I Want to Talk About Duras
A Change of Heart
The Bunker Game
Naai Sekar
Cuarentones
Super Sharanya
Octonauts and the Caves of Sac Actun
Black Glasses
Facing Monsters
Rosy
Malazgirt 1071
Anka
Arthur Rambo
Kernagis
Listeners: The Whispering

In [119]:
df = pd.DataFrame(data, columns=['moviename', 'release_date', 'budget', 'year', 'cleaned_budget', 'cleaned_release_date'])

In [125]:
df

,moviename,release_date,budget,year,cleaned_budget,cleaned_release_date
0,Aftershock,\n22 July 2010 (2010-07-22)\n,less than $25 million,2010.0,25000000.0,2010-07-22
1,Umizaru 3: The Last Message,"\nSeptember 18, 2010 (2010-09-18) (Japan)\n",,2010.0,,2010-09-18
2,Bayside Shakedown 3: Set the Guys Loose,,,2010.0,,
3,If You Are the One 2,"\nDecember 22, 2010 (2010-12-22)\n",,2010.0,,2010-12-22
4,A Turtle's Tale: Sammy's Adventures,,,2010.0,,
...,...,...,...,...,...,...
546,Malazgirt 1071,,,2022.0,,
547,Anka,,,2022.0,,
548,Arthur Rambo,"\nJanuary 25, 2008 (2008-01-25) (United States)\n",$47.5–50 million,2022.0,50000000.0,2008-01-25
549,Kernagis,,,2022.0,,
550,Listeners: The Whispering,,,2022.0,,

In [121]:
df.to_csv('wiki_scrapped_data.csv', index=False)

In [123]:
df2 = pd.read_csv('movie-twitter.csv')
df2

     Unnamed: 0                              Movie Title Release-Date
0             1                      Alice in Wonderland     3/5/2010
1            42                                  Step Up     8/6/2010
2            63                               Aftershock            0
3            64              Umizaru 3: The Last Message            0
4            72  Bayside Shakedown 3: Set the Guys Loose            0
..          ...                                      ...          ...
780        2171                             Arthur Rambo            0
781        2172                        Bachchhan Paandey    3/18/2022
782        2173                                 Kernagis            0
783        2174                              Stop-Zemlia    1/21/2022
784        2175                Listeners: The Whispering            0

[785 rows x 3 columns]

In [141]:
df3 = df2.merge(df, how='left', right_on='moviename', left_on='Movie Title')

In [142]:
df3

,Unnamed: 0,Movie Title,Release-Date,moviename,release_date,budget,year,cleaned_budget,cleaned_release_date
0,1,Alice in Wonderland,3/5/2010,NaN,NaN,NaN,NaN,NaN,NaN
1,42,Step Up,8/6/2010,NaN,NaN,NaN,NaN,NaN,NaN
2,63,Aftershock,0,Aftershock,\n22 July 2010 (2010-07-22)\n,less than $25 million,2010.0,25000000.0,2010-07-22
3,64,Umizaru 3: The Last Message,0,Umizaru 3: The Last Message,"\nSeptember 18, 2010 (2010-09-18) (Japan)\n",,2010.0,,2010-09-18
4,72,Bayside Shakedown 3: Set the Guys Loose,0,Bayside Shakedown 3: Set the Guys Loose,,,2010.0,,
...,...,...,...,...,...,...,...,...,...
780,2171,Arthur Rambo,0,Arthur Rambo,"\nJanuary 25, 2008 (2008-01-25) (United States)\n",$47.5–50 million,2022.0,50000000.0,2008-01-25
781,2172,Bachchhan Paandey,3/18/2022,NaN,NaN,NaN,NaN,NaN,NaN
782,2173,Kernagis,0,Kernagis,,,2022.0,,
783,2174,Stop-Zemlia,1/21/2022,NaN,NaN,NaN,NaN,NaN,NaN
784,2175,Listeners: The Whispering,0,Listeners: The Whispering,,,2022.0,,

In [144]:
df3['Release-Date'] = df3['Release-Date'].replace('0', np.nan)
df3

,Unnamed: 0,Movie Title,Release-Date,moviename,release_date,budget,year,cleaned_budget,cleaned_release_date
0,1,Alice in Wonderland,3/5/2010,NaN,NaN,NaN,NaN,NaN,NaN
1,42,Step Up,8/6/2010,NaN,NaN,NaN,NaN,NaN,NaN
2,63,Aftershock,NaN,Aftershock,\n22 July 2010 (2010-07-22)\n,less than $25 million,2010.0,25000000.0,2010-07-22
3,64,Umizaru 3: The Last Message,NaN,Umizaru 3: The Last Message,"\nSeptember 18, 2010 (2010-09-18) (Japan)\n",,2010.0,,2010-09-18
4,72,Bayside Shakedown 3: Set the Guys Loose,NaN,Bayside Shakedown 3: Set the Guys Loose,,,2010.0,,
...,...,...,...,...,...,...,...,...,...
780,2171,Arthur Rambo,NaN,Arthur Rambo,"\nJanuary 25, 2008 (2008-01-25) (United States)\n",$47.5–50 million,2022.0,50000000.0,2008-01-25
781,2172,Bachchhan Paandey,3/18/2022,NaN,NaN,NaN,NaN,NaN,NaN
782,2173,Kernagis,NaN,Kernagis,,,2022.0,,
783,2174,Stop-Zemlia,1/21/2022,NaN,NaN,NaN,NaN,NaN,NaN
784,2175,Listeners: The Whispering,NaN,Listeners: The Whispering,,,2022.0,,

In [145]:
df3['Release-Date'] = pd.to_datetime(df3['Release-Date'])
df3['cleaned_release_date'] = pd.to_datetime(df3['cleaned_release_date'])
df3

,Unnamed: 0,Movie Title,Release-Date,moviename,release_date,budget,year,cleaned_budget,cleaned_release_date
0,1,Alice in Wonderland,2010-03-05,NaN,NaN,NaN,NaN,NaN,NaT
1,42,Step Up,2010-08-06,NaN,NaN,NaN,NaN,NaN,NaT
2,63,Aftershock,NaT,Aftershock,\n22 July 2010 (2010-07-22)\n,less than $25 million,2010.0,25000000.0,2010-07-22
3,64,Umizaru 3: The Last Message,NaT,Umizaru 3: The Last Message,"\nSeptember 18, 2010 (2010-09-18) (Japan)\n",,2010.0,,2010-09-18
4,72,Bayside Shakedown 3: Set the Guys Loose,NaT,Bayside Shakedown 3: Set the Guys Loose,,,2010.0,,NaT
...,...,...,...,...,...,...,...,...,...
780,2171,Arthur Rambo,NaT,Arthur Rambo,"\nJanuary 25, 2008 (2008-01-25) (United States)\n",$47.5–50 million,2022.0,50000000.0,2008-01-25
781,2172,Bachchhan Paandey,2022-03-18,NaN,NaN,NaN,NaN,NaN,NaT
782,2173,Kernagis,NaT,Kernagis,,,2022.0,,NaT
783,2174,Stop-Zemlia,2022-01-21,NaN,NaN,NaN,NaN,NaN,NaT
784,2175,Listeners: The Whispering,NaT,Listeners: The Whispering,,,2022.0,,NaT

In [146]:
df3.loc[:, 'rd'] = df3[['Release-Date', 'cleaned_release_date']].max(axis=1)

In [148]:
df3.to_csv('twitter_missing_data_input.csv', index=False)