In [102]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
from urllib.request import urlopen
import datetime
import re
import time
import random

In [107]:
data = []

In [108]:
csv_data = pd.read_csv('wiki-url.csv')
csv_data

,Unnamed: 0,Movie Title,year,ur
0,63,Aftershock,2010,https://en.wikipedia.org/wiki/Aftershock_(2010...
1,64,Umizaru 3: The Last Message,2010,https://en.wikipedia.org/wiki/Umizaru_3:_The_L...
2,72,Bayside Shakedown 3: Set the Guys Loose,2010,https://en.wikipedia.org/wiki/List_of_highest-...
3,80,If You Are the One 2,2010,https://en.wikipedia.org/wiki/If_You_Are_the_O...
4,83,Pokémon: Zoroark: Master of Illusions,2010,NaN
...,...,...,...,...
592,2168,Malazgirt 1071,2022,https://en.wikipedia.org/wiki/Battle_of_Manzikert
593,2169,Anka,2022,https://en.wikipedia.org/wiki/Wikipedia:Articl...
594,2171,Arthur Rambo,2022,https://en.wikipedia.org/wiki/Rambo_(2008_film)
595,2173,Kernagis,2022,https://en.wikipedia.org/wiki/Vytautas_Kernagis
596,2175,Listeners: The Whispering,2022,https://en.wikipedia.org/wiki/Whispering

In [88]:
# movie = 'The way back'
# year = 2010
# # url = 'https://en.wikipedia.org/wiki/Avatar_(2009_film)'
# url = 'https://en.wikipedia.org/wiki/The_Way_Back_(2010_film)'

In [109]:

for ind, row in csv_data.iterrows():
    try:
        movie = row['Movie Title']
        year = row['year']
        url = row['ur']
        if type(url) == str:
            html = urlopen(url)
            soup = BeautifulSoup(html, 'html.parser')
            tables = soup.find_all('table')
            details = {}
            for table in tables:
                budgetflag = False
                rdflag = False
                budget = ''
                clbud, clud2, rd2, rd = '', '', '', ''
                rd = ''
                rows = table.find_all('tr')
                for row in rows:
                    cells = row.find_all('th')
                    for cell in cells:
                        if cell.text == 'Release dates' or cell.text == 'Release date':
                            rdflag = True
                        elif cell.text == 'Budget':
                            budgetflag = True
                    
                    if budgetflag:
                        cells = row.find_all('td')
                        for cell in cells:
                            # print(cell.text)
                            budget = cell.text

                            budget = re.sub('\[+\d+\]+', '', budget)
                            clbud = budget.replace(',', '')
                            clbud2 = re.findall('[0-9]+', clbud)[-1]
                            # print(clbud)
                            if 'million' in clbud:
                                money = float(clbud2) * 10**6
                            elif 'billion' in clbud:
                                money = float(clbud2) * 10**8
                            else:
                                money = float(clbud2)

                        budgetflag = False
                    
                    if rdflag:
                        cells = row.find_all('td')
                        for cell in cells:
                            # print(cell.text)
                            rd = cell.text
                            rd2 = rd.replace('-', '')
                            rd2 = re.findall('\(+\d+\)+', rd2)[-1]
                            rd2 = str(datetime.datetime.strptime(rd2, '(%Y%m%d)').date())

                        rdflag = False
                details = {'moviename': movie, 'release_date': rd, 'budget': budget, 'year': year, 'cleaned_budget': money, 'cleaned_release_date': rd2}
                print(movie)
                break
            data.append(details)
    except Exception as e:
        print(movie, e)
        # if ind == 10:
        #     break
        # time.sleep(random.randint(0, 10))

22 July 2010 (2010-07-22)

Aftershock

September 18, 2010 (2010-09-18) (Japan)

Umizaru 3: The Last Message
Bayside Shakedown 3: Set the Guys Loose

December 22, 2010 (2010-12-22)

If You Are the One 2
A Turtle's Tale: Sammy's Adventures

17 March 2010 (2010-03-17)

Heartbreaker

30 March 2012 (2012-03-30) (United Kingdom)

StreetDance 2

August 4, 2010 (2010-08-04)

The Man from Nowhere
SP: The Motion Picture I
Detective Conan: The Lost Ship in the Sky

4 February 2010 (2010-02-04)

Secret Reunion
Camping 2

October 13, 2010 (2010-10-13) (France)
March 22, 2011 (2011-03-22) (United States)

Arthur 3: The War of the Two Worlds

23 October 2020 (2020-10-23) (Mainland China)
19 November 2020 (2020-11-19) (Hong Kong)

Sacrifice
The Lady Shogun and Her Men
Liar Game: The Final Stage
Da Xiao Jiang Hu

5 November 2010 (2010-11-05)

Act of Vengeance

15 September 2010 (2010-09-15)

Under the Hawthorn Tree

February 12, 2010 (2010-02-12)

Recep Ivedik 3

24 March 2010 (2010-03-24)

22 Bullets
Inazuma Eleven GO the Movie: The Ultimate Bonds Gryphon

September 3, 2010 (2010-09-03)

Astral City: A Spiritual Journey

June 16, 2010 (2010-06-16)

71: Into the Fire
How Not to Rescue a Princess
About Her Brother
Trick the Movie: Psychic Battle Royale
Hot Summer Days
Head Over Heels
Hankyu Railways - A 15-minute Miracle
What a Beautiful Day
Beginning of the Great Revival

October 29, 2011 (2011-10-29)

A Ghost of a Chance

August 11, 2011 (2011-08-11)

War of the Arrows

April 16, 2011 (2011-04-16)[1]

Detective Conan: Quarter of Silence
Gantz:
January 29, 2011 (2011-01-29) (Japan)

Gantz: Perfect Answer:
April 23, 2011 (2011-04-23) (Japan)

Gantz
SP: The Motion Picture II
Eiga Kaibutsukun
Gantz:
January 29, 2011 (2011-01-29) (Japan)

Gantz: Perfect Answer:
April 23, 2011 (2011-04-23) (Japan)

Gantz: Perfect Answer

27 January 2011 (2011-01-27)

Detective K: Secret of Virtuous Widow

2 February 2011 (2011-02-02)[1]

All's Well, Ends Well 2011

March 5, 2011 (2011-03-05)

Doraemon: Nobita and the New Steel Troops: ~Winged Angels~

January 26, 2011 (2011-01-26)

My Own Swordsman

25 June 2011 (2011-06-25) (Taipei Film Festival)
19 August 2011 (2011-08-19) (Taiwan)

You Are the Apple of My Eye
Torrente 4

September 17, 2011 (2011-09-17) (Japan)

Unfair: The Answer
13 December 2010 (Kazakhstan)16 December 2010 (Russia)

IndexError: list index out of range

In [92]:
details

{'moviename': 'The way back',
 'release_date': '2010-12-29',
 'budget': '$30 million',
 'year': 2010,
 'cleaned_budget': 30000000.0}

In [105]:
df = pd.DataFrame(data, columns=['moviename', 'release_date', 'budget', 'year', 'cleaned_budget', 'cleaned_release_date'])

In [106]:
df

,moviename,release_date,budget,year,cleaned_budget,cleaned_release_date
0,Aftershock,\n22 July 2010 (2010-07-22)\n,less than $25 million,2010,25000000.0,2010-07-22
1,Umizaru 3: The Last Message,"\nSeptember 18, 2010 (2010-09-18) (Japan)\n",,2010,25000000.0,2010-09-18
2,Bayside Shakedown 3: Set the Guys Loose,,,2010,25000000.0,2010-09-18
3,If You Are the One 2,"\nDecember 22, 2010 (2010-12-22)\n",,2010,25000000.0,2010-12-22
4,Aftershock,\n22 July 2010 (2010-07-22)\n,less than $25 million,2010,25000000.0,2010-07-22
5,Umizaru 3: The Last Message,"\nSeptember 18, 2010 (2010-09-18) (Japan)\n",,2010,25000000.0,2010-09-18
6,Bayside Shakedown 3: Set the Guys Loose,,,2010,25000000.0,2010-09-18
7,If You Are the One 2,"\nDecember 22, 2010 (2010-12-22)\n",,2010,25000000.0,2010-12-22
8,Aftershock,\n22 July 2010 (2010-07-22)\n,less than $25 million,2010,25000000.0,2010-07-22
9,Aftershock,\n22 July 2010 (2010-07-22)\n,less than $25 million,2010,25000000.0,2010-07-22
10,Umizaru 3: The Last Message,"\nSeptember 18, 2010 (2010-09-18) (Japan)\n",,2010,25000000.0,2010-09-18
11,Bayside Shakedown 3: Set the Guys Loose,,,2010,25000000.0,2010-09-18
12,If You Are the One 2,"\nDecember 22, 2010 (2010-12-22)\n",,2010,25000000.0,2010-12-22
13,Aftershock,\n22 July 2010 (2010-07-22)\n,less than $25 million,2010,25000000.0,2010-07-22
14,Umizaru 3: The Last Message,"\nSeptember 18, 2010 (2010-09-18) (Japan)\n",,2010,25000000.0,2010-09-18
15,Bayside Shakedown 3: Set the Guys Loose,,,2010,25000000.0,2010-09-18
16,If You Are the One 2,"\nDecember 22, 2010 (2010-12-22)\n",,2010,25000000.0,2010-12-22
17,A Turtle's Tale: Sammy's Adventures,,,2010,25000000.0,2010-12-22
18,Heartbreaker,\n17 March 2010 (2010-03-17)\n,$10 million,2010,10000000.0,2010-03-17
19,StreetDance 2,\n30 March 2012 (2012-03-30) (United Kingdom)\n,£7 million,2012,7000000.0,2012-03-30
20,The Man from Nowhere,"\nAugust 4, 2010 (2010-08-04)\n",,2010,7000000.0,2010-08-04
21,SP: The Motion Picture I,,,2011,7000000.0,2010-08-04