In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive/')
import sys
import os
prefix = '/content/gdrive/My Drive/'
# modify "customized_path_to_your_homework" here to where you uploaded your homework
customized_path_to_your_homework = 'tomatopy'
sys_path = os.path.join(prefix, customized_path_to_your_homework)
sys.path.append(sys_path)

Mounted at /content/gdrive/

In [ ]:
df = pd.read_table("/content/gdrive/MyDrive/tomatopy/data.tsv",sep='\t')
df1 = pd.read_table("/content/gdrive/MyDrive/tomatopy/data-2.tsv",sep='\t',on_bad_lines='skip')
result = pd.merge(df,df1, on="tconst")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4,5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
result['imdbid'] = result['tconst']
result = result.drop('tconst',axis = 1)

In [ ]:
result['movie'] = result['primaryTitle']
result = result.drop('primaryTitle',axis = 1)

In [ ]:
print(result)

         averageRating  numVotes  titleType                   originalTitle  \
0                  5.7      1869      short                      Carmencita
1                  5.9       247      short          Le clown et ses chiens
2                  6.5      1644      short                  Pauvre Pierrot
3                  5.8       159      short                     Un bon bock
4                  6.2      2470      short                Blacksmith Scene
...                ...       ...        ...                             ...
1231201            6.6         5  tvEpisode  Horrid Henry Delivers the Milk
1231202            5.7       202      short                       The Nun 2
1231203            8.7         6      movie                          6 Gunn
1231204            6.7        19  tvEpisode                  Episode #10.15
1231205            7.2        34  tvEpisode                          Escape

        isAdult startYear endYear runtimeMinutes                      genres  \
0             0      1894      \N              1           Documentary,Short
1             0      1892      \N              5             Animation,Short
2             0      1892      \N              4    Animation,Comedy,Romance
3             0      1892      \N             12             Animation,Short
4             0      1893      \N              1                Comedy,Short
...         ...       ...     ...            ...                         ...
1231201       0      2012      \N             10  Adventure,Animation,Comedy
1231202       0      2019      \N             10       Comedy,Horror,Mystery
1231203       0      2017      \N            116                          \N
1231204       0      2019      \N             43           Family,Reality-TV
1231205       0      2019      \N             \N         Crime,Drama,Mystery

            imdbid                           movie
0        tt0000001                      Carmencita
1        tt0000002          Le clown et ses chiens
2        tt0000003                  Pauvre Pierrot
3        tt0000004                     Un bon bock
4        tt0000005                Blacksmith Scene
...            ...                             ...
1231201  tt9916690  Horrid Henry Delivers the Milk
1231202  tt9916720                       The Nun 2
1231203  tt9916730                          6 Gunn
1231204  tt9916766                  Episode #10.15
1231205  tt9916778                          Escape

[1231206 rows x 11 columns]

In [ ]:
df2 = pd.read_csv("/content/gdrive/MyDrive/tomatopy/TMDB/tmdb_cast_2022.csv")
df3 = pd.read_csv("/content/gdrive/MyDrive/tomatopy/TMDB/tmdb_2022.csv")
result1 = pd.merge(df2,df3, on=["tmdbid","movie"])
result2 = pd.merge(result1,result, on=["imdbid","movie"])
df2 = pd.read_csv("/content/gdrive/MyDrive/tomatopy/2022.csv")
df3 = pd.read_csv("/content/gdrive/MyDrive/tomatopy/new-rotten/2022_info.csv")
result3 = pd.merge(df2,df3, on="Release Group")
result3['movie'] = result3['Release Group']
result3 = result3.drop('Release Group',axis = 1)
data = pd.merge(result2, result3,on="movie")

In [ ]:
print(result2)

                         movie    tmdbid      imdbid              actor1  \
0                   The Batman  414906.0   tt1877830    Robert Pattinson
1            Water Gate Bridge  928123.0  tt16194408             Wu Jing
2                    Uncharted  335787.0   tt1464335         Tom Holland
3             Too Cool to Kill  923192.0  tt16254308               Ma Li
4                       Scream  646385.0  tt11245972       Neve Campbell
..                         ...       ...         ...                 ...
130               Arthur Rambo  660334.0  tt10951972  Rabah Nait Oufella
131          Bachchhan Paandey  715765.0  tt10699086        Akshay Kumar
132                   Kernagis  882743.0  tt17634196   Vytautas Kernagis
133                Stop-Zemlia  794785.0  tt14028890   Maria Fedorchenko
134  Listeners: The Whispering  786205.0  tt15170164            Quang Sự

     actor1_popularity            actor2  actor2_popularity  \
0               26.955       Zoë Kravitz             64.126
1               19.876       Jackson Yee             10.104
2              128.320     Mark Wahlberg             49.465
3                1.565         Wei Xiang              1.015
4               18.195     Courteney Cox             28.453
..                 ...               ...                ...
130              4.588  Antoine Reinartz              2.234
131              3.945       Kriti Sanon              6.833
132              0.652  Dalia Kernagienė              0.600
133              0.600    Arsenii Markov              0.600
134              0.600         Oanh Kiều              3.525

                   actor3  actor3_popularity            actor4  ...  runtime  \
0               Paul Dano             51.328    Jeffrey Wright  ...    176.0
1                  Hu Jun              6.962       Zhang Hanyu  ...    153.0
2        Antonio Banderas             18.301        Sophia Ali  ...    116.0
3            Allen Ai Lun              5.557      Chen Minghao  ...    109.0
4          David Arquette              8.580   Melissa Barrera  ...    114.0
..                    ...                ...               ...  ...      ...
130     Aleksandra Yermak              1.960    Sofian Khammes  ...     87.0
131  Jacqueline Fernandez              2.750      Arshad Warsi  ...    147.0
132        Eglė Kernagytė              0.600               NaN  ...     91.0
133         Yana Isaienko              0.600  Oleksandr Ivanov  ...    117.0
134        Phạm Quỳnh Anh              0.600        Quốc Cường  ...    120.0

    averageRating  numVotes titleType                     originalTitle  \
0             8.3    308489     movie                        The Batman
1             4.9       311     movie                 Water Gate Bridge
2             6.7     60587     movie                         Uncharted
3             6.1       226     movie  Zhe ge sha shou bu tai leng jing
4             6.5     78085     movie                            Scream
..            ...       ...       ...                               ...
130           6.5       222     movie                      Arthur Rambo
131           6.7     28543     movie                 Bachchhan Paandey
132           7.7        72     movie                          Kernagis
133           7.5       659     movie                       Stop-Zemlia
134           6.5         8     movie         Listeners: The Whispering

     isAdult  startYear  endYear  runtimeMinutes                   genres
0          0       2022       \N             176       Action,Crime,Drama
1          0       2022       \N             153     Action,Drama,History
2          0       2022       \N             116         Action,Adventure
3          0       2022       \N             109                   Comedy
4          0       2022       \N             114  Horror,Mystery,Thriller
..       ...        ...      ...             ...                      ...
130        0       2021       \N              87                    Drama
131        0       2022       \N             147      Action,Comedy,Crime
132        0       2022       \N              94              Documentary
133        0       2021       \N             122                    Drama
134        0       2022       \N             120                 Thriller

[135 rows x 27 columns]

In [ ]:
from ast import literal_eval
months = dict(Jan=1, Feb=2, Mar=3,Apr=4,May =5,Jun = 6,Jul=7,Aug=8,Sep=9,Oct=10,Nov=11,Dec=12)
li = []
for dic in data['Director']:
  try:
    dic = literal_eval(dic)
    dic = ",".join(dic)
    li.append(dic)
  except:
    li.append(dic)
    
data['Director'] = li

li = []
for dic in data['Producer']:
  try:
    dic = literal_eval(dic)
    dic = ",".join(dic)
    li.append(dic)
  except:
    li.append(dic)
data['Producer'] = li

li = []
for dic in data['Worldwide']:
  try:
    
    dic = dic.replace("$","")
    li.append(dic)
  except:
    li.append(dic)  
data['Worldwide'] = li

li = []
for dic in data['Foreign']:
  try:
    
    dic = dic.replace("$","")
    li.append(dic)
  except:
    li.append(dic)
    
data['Foreign'] = li

li = []
for dic in data['Domestic']:
  try:
    
    dic = dic.replace("$","")
    li.append(dic)
  except:
    li.append(dic)
   
data['Domestic'] = li

li = []
for dic in data['%.1']:
  try:
    
    dic = dic.replace("%","")
    li.append(dic)
  except:
    li.append(dic)
    
data['%.1'] = li

li = []
for dic in data['%']:
  try:
    
    dic = dic.replace("%","")
    li.append(dic)
  except:
    li.append(dic)
    
data['%'] = li

li = []
for dic in data['Box Office (Gross USA)']:
  try:
    dic = dic.replace("M","")
    dic = float(dic)
    li.append(dic*1000000)
  except:
    li.append(dic)
data['Box Office (Gross USA)'] = li

li = []
for dic in data['Release Date (Theaters)']:
  try:
    dic = literal_eval(str(dic))
    vals = dic[0].split( )
    dic[0]= str(months[vals[0]])+"-"+vals[1]
    dic = "-".join(dic)
    li.append(dic)
  except:
    li.append(dic)

    
data['Release Date (Theaters)'] = li

li = []
for dic in data['Worldwide']:
  try:
    
    dic = dic.replace(",","")
    li.append(dic)
  except:
    li.append(dic)  
data['Worldwide'] = li

li = []
for dic in data['Foreign']:
  try:
    
    dic = dic.replace(",","")
    li.append(dic)
  except:
    li.append(dic)
    
data['Foreign'] = li

li = []
for dic in data['Domestic']:
  try:
    
    dic = dic.replace(",","")
    li.append(dic)
  except:
    li.append(dic)
   
data['Domestic'] = li

In [ ]:
data.insert(0, "Movie Title", data['movie'])
data = data.drop('movie',axis = 1)
data.to_csv("/content/gdrive/MyDrive/tomatopy/modified-data/2022.csv", encoding='utf-8')

In [ ]:
import glob 
import os

In [ ]:
path = os.path.join('sys_path','modified-data')

In [ ]:

df = pd.concat(map(pd.read_csv,["/content/gdrive/MyDrive/tomatopy//Vader_2500_res2010.csv","/content/gdrive/MyDrive/tomatopy/modified-data/2011.csv",
                                "/content/gdrive/MyDrive/tomatopy/modified-data/2012.csv","/content/gdrive/MyDrive/tomatopy/modified-data/2013.csv","/content/gdrive/MyDrive/tomatopy/modified-data/2014.csv","/content/gdrive/MyDrive/tomatopy/modified-data/2015.csv",
                                "/content/gdrive/MyDrive/tomatopy/modified-data/2016.csv","/content/gdrive/MyDrive/tomatopy/modified-data/2017.csv","/content/gdrive/MyDrive/tomatopy/modified-data/2018.csv",
                                "/content/gdrive/MyDrive/tomatopy/modified-data/2019.csv","/content/gdrive/MyDrive/tomatopy/modified-data/2020.csv","/content/gdrive/MyDrive/tomatopy/modified-data/2021.csv",
                                "/content/gdrive/MyDrive/tomatopy/modified-data/2022.csv"]), ignore_index=True) 
print(df)

      Unnamed: 0                                   Movie Title    tmdbid  \
0              0                                   Toy Story 3   10193.0
1              1                           Alice in Wonderland   12092.0
2              2  Harry Potter and the Deathly Hallows: Part 1   12444.0
3              3                                     Inception   27205.0
4              4                           Shrek Forever After   10192.0
...          ...                                           ...       ...
2176         130                                  Arthur Rambo  660334.0
2177         131                             Bachchhan Paandey  715765.0
2178         132                                      Kernagis  882743.0
2179         133                                   Stop-Zemlia  794785.0
2180         134                     Listeners: The Whispering  786205.0

          imdbid              actor1  actor1_popularity                actor2  \
0      tt0435761           Tom Hanks             27.299             Tim Allen
1      tt0043274    Kathryn Beaumont              3.164               Ed Wynn
2      tt0926084    Daniel Radcliffe             24.549          Rupert Grint
3      tt1375666   Leonardo DiCaprio             24.953  Joseph Gordon-Levitt
4      tt0892791          Mike Myers             16.026          Eddie Murphy
...          ...                 ...                ...                   ...
2176  tt10951972  Rabah Nait Oufella              4.588      Antoine Reinartz
2177  tt10699086        Akshay Kumar              3.945           Kriti Sanon
2178  tt17634196   Vytautas Kernagis              0.652      Dalia Kernagienė
2179  tt14028890   Maria Fedorchenko              0.600        Arsenii Markov
2180  tt15170164            Quang Sự              0.600             Oanh Kiều

      actor2_popularity                actor3  actor3_popularity  ...   %.1  \
0                18.361           Joan Cusack             14.925  ...  61.1
1                 5.868         Richard Haydn              5.899  ...  67.4
2                11.399           Emma Watson             69.598  ...  69.7
3                20.585          Ken Watanabe             19.690  ...  64.6
4                13.301          Cameron Diaz             18.596  ...  68.3
...                 ...                   ...                ...  ...   ...
2176              2.234     Aleksandra Yermak              1.960  ...   100
2177              6.833  Jacqueline Fernandez              2.750  ...   100
2178              0.600        Eglė Kernagytė              0.600  ...   100
2179              0.600         Yana Isaienko              0.600  ...   100
2180              3.525        Phạm Quỳnh Anh              0.600  ...   100

      Unnamed: 0_y Score_Rotten  Score_Audience  Rating  \
0                0         98.0            90.0       G
1                1          NaN            48.0     NaN
2                2         77.0            85.0   PG-13
3                3         87.0            91.0   PG-13
4                4         58.0            54.0      PG
...            ...          ...             ...     ...
2176           194         63.0             NaN     NaN
2177           196          NaN            74.0     NaN
2178           197          NaN             NaN     NaN
2179           198         88.0            67.0     NaN
2180           199          NaN             NaN     NaN

                                                  Genre  \
0     ['Comedy', 'Kids & family', 'Adventure', 'Fant...
1                                           ['Fantasy']
2                              ['Adventure', 'Fantasy']
3            ['Sci-fi', 'Mystery & thriller', 'Action']
4     ['Comedy', 'Kids & family', 'Adventure', 'Fant...
...                                                 ...
2176                                          ['Drama']
2177                      ['Action', 'Comedy', 'Crime']
2178                                                NaN
2179                               ['Drama', 'Romance']
2180                                                NaN

                          Director  \
0                      Lee Unkrich
1     Cecil M. Hepworth,Percy Stow
2                      David Yates
3                Christopher Nolan
4                    Mike Mitchell
...                            ...
2176                Laurent Cantet
2177                  Farhad Samji
2178                           NaN
2179            Kateryna Gornostai
2180                           NaN

                                               Producer  \
0                                     Darla K. Anderson
1                                                   NaN
2                David Heyman,David Barron,J.K. Rowling
3                         Christopher Nolan,Emma Thomas
4                                Gina Shay,Teresa Cheng
...                                                 ...
2176                                 Marie-Ange Luciani
2177                      Sajid Nadiadwala,Manoj Mittra
2178                                                NaN
2179  Olga Beskhmelnitsyna,Viktoria Khomenko,Natalia...
2180                                                NaN

      Release Date (Theaters)  Box Office (Gross USA)
0                   6-18-2010             415000000.0
1                  10-17-1903                     NaN
2                  11-19-2010             295000000.0
3                   7-16-2010             292600000.0
4                   5-21-2010                     NaN
...                       ...                     ...
2176                      NaN                     NaN
2177                3-18-2022                     NaN
2178                      NaN                     NaN
2179                1-21-2022                     NaN
2180                      NaN                     NaN

[2181 rows x 44 columns]

In [ ]:
df = pd.read_csv("/content/gdrive/MyDrive/tomatopy/merged-data.csv", encoding='utf-8')
df1 = pd.read_csv("/content/gdrive/MyDrive/tomatopy/release-dates.csv", encoding='utf-8')

In [ ]:
df1['Movie Title'] = df1['Movie']
df1 = df1.drop('Movie',axis = 1)

In [ ]:
print(df1)

     Release-Date      Revenue     Revenue1 NumTheatres  \
0      2010-01-08  $30,101,577  $30,101,577         100
1      2010-01-08  $25,918,920  $25,918,920         107
2      2010-01-08  $15,281,286  $15,281,286         131
3      2010-01-15  $94,835,059  $94,835,059          30
4      2010-01-15  $24,307,086  $24,307,086         112
...           ...          ...          ...         ...
2524   2022-12-25  $14,301,214  $26,514,814          16
2525   2022-12-25   $2,639,255   $6,545,174          35
2526   2022-12-25      $18,971     $203,571          97
2527   2022-12-26      $12,065      $52,656         109
2528   2022-12-29     $106,882     $108,678          72

                             Production UNK1 UNK2 UNK3           Movie Title
0                             Lionsgate  NaN  NaN  NaN           Daybreakers
1                    Universal Pictures  NaN  NaN  NaN             Leap Year
2                                     -  NaN  NaN  NaN       Youth in Revolt
3                          Warner Bros.  NaN  NaN  NaN       The Book of Eli
4                             Lionsgate  NaN  NaN  NaN     The Spy Next Door
...                                 ...  ...  ...  ...                   ...
2524                          Lionsgate  NaN  NaN  NaN     American Underdog
2525  Sony Pictures Entertainment (SPE)  NaN  NaN  NaN  A Journal for Jordan
2526                       Warner Bros.  NaN  NaN  NaN           The Witches
2527                               Neon  NaN  NaN  NaN               Memoria
2528             Sony Pictures Classics  NaN  NaN  NaN                Jockey

[2529 rows x 9 columns]

In [ ]:
result = pd.merge(df, df1, on='Movie Title', how='left')

In [ ]:
print(result)

      Unnamed: 0  Unnamed: 0.1                                   Movie Title  \
0              0             0                                   Toy Story 3
1              1             1                           Alice in Wonderland
2              2             2  Harry Potter and the Deathly Hallows: Part 1
3              2             2  Harry Potter and the Deathly Hallows: Part 1
4              3             3                                     Inception
...          ...           ...                                           ...
2411        2176           130                                  Arthur Rambo
2412        2177           131                             Bachchhan Paandey
2413        2178           132                                      Kernagis
2414        2179           133                                   Stop-Zemlia
2415        2180           134                     Listeners: The Whispering

        tmdbid      imdbid              actor1  actor1_popularity  \
0      10193.0   tt0435761           Tom Hanks             27.299
1      12092.0   tt0043274    Kathryn Beaumont              3.164
2      12444.0   tt0926084    Daniel Radcliffe             24.549
3      12444.0   tt0926084    Daniel Radcliffe             24.549
4      27205.0   tt1375666   Leonardo DiCaprio             24.953
...        ...         ...                 ...                ...
2411  660334.0  tt10951972  Rabah Nait Oufella              4.588
2412  715765.0  tt10699086        Akshay Kumar              3.945
2413  882743.0  tt17634196   Vytautas Kernagis              0.652
2414  794785.0  tt14028890   Maria Fedorchenko              0.600
2415  786205.0  tt15170164            Quang Sự              0.600

                    actor2  actor2_popularity                actor3  ...  \
0                Tim Allen             18.361           Joan Cusack  ...
1                  Ed Wynn              5.868         Richard Haydn  ...
2             Rupert Grint             11.399           Emma Watson  ...
3             Rupert Grint             11.399           Emma Watson  ...
4     Joseph Gordon-Levitt             20.585          Ken Watanabe  ...
...                    ...                ...                   ...  ...
2411      Antoine Reinartz              2.234     Aleksandra Yermak  ...
2412           Kriti Sanon              6.833  Jacqueline Fernandez  ...
2413      Dalia Kernagienė              0.600        Eglė Kernagytė  ...
2414        Arsenii Markov              0.600         Yana Isaienko  ...
2415             Oanh Kiều              3.525        Phạm Quỳnh Anh  ...

      Release Date (Theaters) Box Office (Gross USA)  Release-Date  \
0                   6-18-2010            415000000.0    2010-06-18
1                  10-17-1903                    NaN    2010-03-05
2                  11-19-2010            295000000.0    2010-11-19
3                  11-19-2010            295000000.0    2011-11-19
4                   7-16-2010            292600000.0    2010-07-16
...                       ...                    ...           ...
2411                      NaN                    NaN           NaN
2412                3-18-2022                    NaN           NaN
2413                      NaN                    NaN           NaN
2414                1-21-2022                    NaN           NaN
2415                      NaN                    NaN           NaN

           Revenue      Revenue1  NumTheatres  \
0     $415,004,880  $415,004,880            2
1     $334,191,110  $334,191,110            3
2     $280,230,127  $295,983,305            7
3      $15,753,178  $295,983,305          131
4     $292,558,188  $292,576,195            6
...            ...           ...          ...
2411           NaN           NaN          NaN
2412           NaN           NaN          NaN
2413           NaN           NaN          NaN
2414           NaN           NaN          NaN
2415           NaN           NaN          NaN

                               Production  UNK1  UNK2  UNK3
0     Walt Disney Studios Motion Pictures   NaN   NaN   NaN
1     Walt Disney Studios Motion Pictures   NaN   NaN   NaN
2                            Warner Bros.   NaN   NaN   NaN
3                            Warner Bros.   NaN   NaN   NaN
4                            Warner Bros.   NaN   NaN   NaN
...                                   ...   ...   ...   ...
2411                                  NaN   NaN   NaN   NaN
2412                                  NaN   NaN   NaN   NaN
2413                                  NaN   NaN   NaN   NaN
2414                                  NaN   NaN   NaN   NaN
2415                                  NaN   NaN   NaN   NaN

[2416 rows x 53 columns]

In [ ]:
result = result.reset_index()

In [ ]:
print(result)

      index  Unnamed: 0  Unnamed: 0.1  \
0         0           0             0
1         1           1             1
2         2           2             2
3         3           2             2
4         4           3             3
...     ...         ...           ...
2411   2411        2176           130
2412   2412        2177           131
2413   2413        2178           132
2414   2414        2179           133
2415   2415        2180           134

                                       Movie Title    tmdbid      imdbid  \
0                                      Toy Story 3   10193.0   tt0435761
1                              Alice in Wonderland   12092.0   tt0043274
2     Harry Potter and the Deathly Hallows: Part 1   12444.0   tt0926084
3     Harry Potter and the Deathly Hallows: Part 1   12444.0   tt0926084
4                                        Inception   27205.0   tt1375666
...                                            ...       ...         ...
2411                                  Arthur Rambo  660334.0  tt10951972
2412                             Bachchhan Paandey  715765.0  tt10699086
2413                                      Kernagis  882743.0  tt17634196
2414                                   Stop-Zemlia  794785.0  tt14028890
2415                     Listeners: The Whispering  786205.0  tt15170164

                  actor1  actor1_popularity                actor2  \
0              Tom Hanks             27.299             Tim Allen
1       Kathryn Beaumont              3.164               Ed Wynn
2       Daniel Radcliffe             24.549          Rupert Grint
3       Daniel Radcliffe             24.549          Rupert Grint
4      Leonardo DiCaprio             24.953  Joseph Gordon-Levitt
...                  ...                ...                   ...
2411  Rabah Nait Oufella              4.588      Antoine Reinartz
2412        Akshay Kumar              3.945           Kriti Sanon
2413   Vytautas Kernagis              0.652      Dalia Kernagienė
2414   Maria Fedorchenko              0.600        Arsenii Markov
2415            Quang Sự              0.600             Oanh Kiều

      actor2_popularity  ... Release Date (Theaters)  Box Office (Gross USA)  \
0                18.361  ...               6-18-2010             415000000.0
1                 5.868  ...              10-17-1903                     NaN
2                11.399  ...              11-19-2010             295000000.0
3                11.399  ...              11-19-2010             295000000.0
4                20.585  ...               7-16-2010             292600000.0
...                 ...  ...                     ...                     ...
2411              2.234  ...                     NaN                     NaN
2412              6.833  ...               3-18-2022                     NaN
2413              0.600  ...                     NaN                     NaN
2414              0.600  ...               1-21-2022                     NaN
2415              3.525  ...                     NaN                     NaN

     Release-Date       Revenue      Revenue1  NumTheatres  \
0      2010-06-18  $415,004,880  $415,004,880            2
1      2010-03-05  $334,191,110  $334,191,110            3
2      2010-11-19  $280,230,127  $295,983,305            7
3      2011-11-19   $15,753,178  $295,983,305          131
4      2010-07-16  $292,558,188  $292,576,195            6
...           ...           ...           ...          ...
2411          NaN           NaN           NaN          NaN
2412          NaN           NaN           NaN          NaN
2413          NaN           NaN           NaN          NaN
2414          NaN           NaN           NaN          NaN
2415          NaN           NaN           NaN          NaN

                               Production  UNK1  UNK2  UNK3
0     Walt Disney Studios Motion Pictures   NaN   NaN   NaN
1     Walt Disney Studios Motion Pictures   NaN   NaN   NaN
2                            Warner Bros.   NaN   NaN   NaN
3                            Warner Bros.   NaN   NaN   NaN
4                            Warner Bros.   NaN   NaN   NaN
...                                   ...   ...   ...   ...
2411                                  NaN   NaN   NaN   NaN
2412                                  NaN   NaN   NaN   NaN
2413                                  NaN   NaN   NaN   NaN
2414                                  NaN   NaN   NaN   NaN
2415                                  NaN   NaN   NaN   NaN

[2416 rows x 54 columns]

In [ ]:
result['Release-Date'].fillna("0", inplace = True)

In [ ]:
(result['Release-Date'] =="0").sum()

800

In [ ]:
result['Release Date (Theaters)'].fillna("0", inplace = True)

In [ ]:
import itertools
lst = list(itertools.repeat(0, 10))
print(lst)

In [ ]:
for index, row in result.iterrows():
  if row['Release-Date'] =="0" and row['Release Date (Theaters)']!= "0" :
    val = row['Release Date (Theaters)'].split('-')
    result.at[index, 'Release-Date'] =  val[2]+"-"+val[0]+"-"+val[1]

In [ ]:
(result['Release-Date'] =="0").sum()

600

In [ ]:
result = result.drop('Release Date (Theaters)',axis = 1)
result = result.drop('UNK1',axis = 1)
result = result.drop('UNK2',axis = 1)
result = result.drop('UNK3',axis = 1)
result = result.drop('Unnamed: 0',axis = 1)
result = result.drop('Unnamed: 0.1',axis = 1)
result = result.drop('startYear',axis = 1)
result = result.drop('endYear',axis = 1)
result = result.drop('Genre',axis = 1)
result = result.drop('tmdbid',axis = 1)
result = result.drop('imdbid',axis = 1)
result = result.drop('adult',axis = 1)
result = result.drop('titleType',axis = 1)
result = result.drop('Unnamed: 0_x',axis = 1)
result = result.drop('Unnamed: 0_y',axis = 1)

In [ ]:
result = pd.read_csv("/content/gdrive/MyDrive/tomatopy/cleaned-data.csv")

In [ ]:
new_df = pd.concat(map(pd.read_csv,["/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2010.csv","/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2011.csv","/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2012.csv"
,"/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2013.csv","/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2014.csv","/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2015.csv","/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2016.csv","/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2017.csv","/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2018.csv","/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2019.csv","/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2020.csv"
,"/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2021.csv","/content/gdrive/MyDrive/tomatopy/GoogleTrends/gt_2022.csv"]), ignore_index=True) 
print(new_df)

                                             movie   startdate releasedate  \
0                                      Toy Story 3  2010-06-11  2010-06-18
1     Harry Potter and the Deathly Hallows: Part 1  2010-11-12  2010-11-19
2                                        Inception  2010-07-09  2010-07-16
3                              Shrek Forever After  2010-05-14  2010-05-21
4                       The Twilight Saga: Eclipse  2010-06-23  2010-06-30
...                                            ...         ...         ...
1628                                   Tyson's Run  2022-03-04  2022-03-11
1629                                         Clean  2022-01-21  2022-01-28
1630                                       Sundown  2022-01-21  2022-01-28
1631                                         Alice  2022-03-11  2022-03-18
1632                             Jane by Charlotte  2022-03-11  2022-03-18

      Text  mean_google_trend_popularity
0      NaN                        46.375
1      NaN                        48.000
2      NaN                        33.500
3      NaN                        34.625
4      NaN                        52.500
...    ...                           ...
1628   NaN                        35.000
1629   NaN                        93.750
1630   NaN                        81.375
1631   NaN                        96.250
1632   NaN                        45.375

[1633 rows x 5 columns]

In [ ]:
new_df['Movie Title'] = new_df['movie']
new_df = new_df.drop('movie',axis = 1)

In [ ]:
result3 = pd.merge(result,new_df, on='Movie Title', how='left')

In [ ]:
print(result3)

      Unnamed: 0  index                                   Movie Title  \
0              0      0                                   Toy Story 3
1              1      1                           Alice in Wonderland
2              2      2  Harry Potter and the Deathly Hallows: Part 1
3              3      3  Harry Potter and the Deathly Hallows: Part 1
4              4      4                                     Inception
...          ...    ...                                           ...
2431        2411   2411                                  Arthur Rambo
2432        2412   2412                             Bachchhan Paandey
2433        2413   2413                                      Kernagis
2434        2414   2414                                   Stop-Zemlia
2435        2415   2415                     Listeners: The Whispering

                  actor1  actor1_popularity                actor2  \
0              Tom Hanks             27.299             Tim Allen
1       Kathryn Beaumont              3.164               Ed Wynn
2       Daniel Radcliffe             24.549          Rupert Grint
3       Daniel Radcliffe             24.549          Rupert Grint
4      Leonardo DiCaprio             24.953  Joseph Gordon-Levitt
...                  ...                ...                   ...
2431  Rabah Nait Oufella              4.588      Antoine Reinartz
2432        Akshay Kumar              3.945           Kriti Sanon
2433   Vytautas Kernagis              0.652      Dalia Kernagienė
2434   Maria Fedorchenko              0.600        Arsenii Markov
2435            Quang Sự              0.600             Oanh Kiều

      actor2_popularity                actor3  actor3_popularity  \
0                18.361           Joan Cusack             14.925
1                 5.868         Richard Haydn              5.899
2                11.399           Emma Watson             69.598
3                11.399           Emma Watson             69.598
4                20.585          Ken Watanabe             19.690
...                 ...                   ...                ...
2431              2.234     Aleksandra Yermak              1.960
2432              6.833  Jacqueline Fernandez              2.750
2433              0.600        Eglė Kernagytė              0.600
2434              0.600         Yana Isaienko              0.600
2435              3.525        Phạm Quỳnh Anh              0.600

                    actor4  ...  Box Office (Gross USA) Release-Date  \
0              Don Rickles  ...             415000000.0   2010-06-18
1        Sterling Holloway  ...                     NaN   2010-03-05
2     Helena Bonham Carter  ...             295000000.0   2010-11-19
3     Helena Bonham Carter  ...             295000000.0   2011-11-19
4                Tom Hardy  ...             292600000.0   2010-07-16
...                    ...  ...                     ...          ...
2431        Sofian Khammes  ...                     NaN            0
2432          Arshad Warsi  ...                     NaN    2022-3-18
2433                   NaN  ...                     NaN            0
2434      Oleksandr Ivanov  ...                     NaN    2022-1-21
2435            Quốc Cường  ...                     NaN            0

           Revenue      Revenue1  NumTheatres  \
0     $415,004,880  $415,004,880            2
1     $334,191,110  $334,191,110            3
2     $280,230,127  $295,983,305            7
3      $15,753,178  $295,983,305          131
4     $292,558,188  $292,576,195            6
...            ...           ...          ...
2431           NaN           NaN          NaN
2432           NaN           NaN          NaN
2433           NaN           NaN          NaN
2434           NaN           NaN          NaN
2435           NaN           NaN          NaN

                               Production   startdate  releasedate  Text  \
0     Walt Disney Studios Motion Pictures  2010-06-11   2010-06-18   NaN
1     Walt Disney Studios Motion Pictures         NaN          NaN   NaN
2                            Warner Bros.  2010-11-12   2010-11-19   NaN
3                            Warner Bros.  2010-11-12   2010-11-19   NaN
4                            Warner Bros.  2010-07-09   2010-07-16   NaN
...                                   ...         ...          ...   ...
2431                                  NaN         NaN          NaN   NaN
2432                                  NaN         NaN          NaN   NaN
2433                                  NaN         NaN          NaN   NaN
2434                                  NaN         NaN          NaN   NaN
2435                                  NaN         NaN          NaN   NaN

     mean_google_trend_popularity
0                          46.375
1                             NaN
2                          48.000
3                          48.000
4                          33.500
...                           ...
2431                          NaN
2432                          NaN
2433                          NaN
2434                          NaN
2435                          NaN

[2436 rows x 44 columns]

In [ ]:
(result3['releasedate'] =="0").sum()

0

In [ ]:
result3['releasedate'].fillna("0", inplace = True)

In [ ]:
result3.to_csv("/content/gdrive/MyDrive/tomatopy/gt-data.csv", encoding='utf-8')

In [ ]:
result3 = result3.drop_duplicates(subset=['Movie Title'])

In [ ]:
print(result3)
21,000,000

      Unnamed: 0  index                                   Movie Title  \
0              0      0                                   Toy Story 3
1              1      1                           Alice in Wonderland
2              2      2  Harry Potter and the Deathly Hallows: Part 1
4              4      4                                     Inception
5              5      5                           Shrek Forever After
...          ...    ...                                           ...
2431        2411   2411                                  Arthur Rambo
2432        2412   2412                             Bachchhan Paandey
2433        2413   2413                                      Kernagis
2434        2414   2414                                   Stop-Zemlia
2435        2415   2415                     Listeners: The Whispering

                  actor1  actor1_popularity                actor2  \
0              Tom Hanks             27.299             Tim Allen
1       Kathryn Beaumont              3.164               Ed Wynn
2       Daniel Radcliffe             24.549          Rupert Grint
4      Leonardo DiCaprio             24.953  Joseph Gordon-Levitt
5             Mike Myers             16.026          Eddie Murphy
...                  ...                ...                   ...
2431  Rabah Nait Oufella              4.588      Antoine Reinartz
2432        Akshay Kumar              3.945           Kriti Sanon
2433   Vytautas Kernagis              0.652      Dalia Kernagienė
2434   Maria Fedorchenko              0.600        Arsenii Markov
2435            Quang Sự              0.600             Oanh Kiều

      actor2_popularity                actor3  actor3_popularity  \
0                18.361           Joan Cusack             14.925
1                 5.868         Richard Haydn              5.899
2                11.399           Emma Watson             69.598
4                20.585          Ken Watanabe             19.690
5                13.301          Cameron Diaz             18.596
...                 ...                   ...                ...
2431              2.234     Aleksandra Yermak              1.960
2432              6.833  Jacqueline Fernandez              2.750
2433              0.600        Eglė Kernagytė              0.600
2434              0.600         Yana Isaienko              0.600
2435              3.525        Phạm Quỳnh Anh              0.600

                    actor4  ...  Box Office (Gross USA) Release-Date  \
0              Don Rickles  ...             415000000.0   2010-06-18
1        Sterling Holloway  ...                     NaN   2010-03-05
2     Helena Bonham Carter  ...             295000000.0   2010-11-19
4                Tom Hardy  ...             292600000.0   2010-07-16
5         Antonio Banderas  ...                     NaN   2010-05-21
...                    ...  ...                     ...          ...
2431        Sofian Khammes  ...                     NaN            0
2432          Arshad Warsi  ...                     NaN    2022-3-18
2433                   NaN  ...                     NaN            0
2434      Oleksandr Ivanov  ...                     NaN    2022-1-21
2435            Quốc Cường  ...                     NaN            0

           Revenue      Revenue1  NumTheatres  \
0     $415,004,880  $415,004,880            2
1     $334,191,110  $334,191,110            3
2     $280,230,127  $295,983,305            7
4     $292,558,188  $292,576,195            6
5     $238,736,787  $238,736,787            9
...            ...           ...          ...
2431           NaN           NaN          NaN
2432           NaN           NaN          NaN
2433           NaN           NaN          NaN
2434           NaN           NaN          NaN
2435           NaN           NaN          NaN

                               Production   startdate  releasedate  Text  \
0     Walt Disney Studios Motion Pictures  2010-06-11   2010-06-18   NaN
1     Walt Disney Studios Motion Pictures         NaN          NaN   NaN
2                            Warner Bros.  2010-11-12   2010-11-19   NaN
4                            Warner Bros.  2010-07-09   2010-07-16   NaN
5                              DreamWorks  2010-05-14   2010-05-21   NaN
...                                   ...         ...          ...   ...
2431                                  NaN         NaN          NaN   NaN
2432                                  NaN         NaN          NaN   NaN
2433                                  NaN         NaN          NaN   NaN
2434                                  NaN         NaN          NaN   NaN
2435                                  NaN         NaN          NaN   NaN

     mean_google_trend_popularity
0                          46.375
1                             NaN
2                          48.000
4                          33.500
5                          34.625
...                           ...
2431                          NaN
2432                          NaN
2433                          NaN
2434                          NaN
2435                          NaN

[2172 rows x 44 columns]

In [ ]:
data = result3

In [ ]:
print(data)

      Unnamed: 0  index                                   Movie Title  \
0              0      0                                   Toy Story 3
1              1      1                           Alice in Wonderland
2              2      2  Harry Potter and the Deathly Hallows: Part 1
4              4      4                                     Inception
5              5      5                           Shrek Forever After
...          ...    ...                                           ...
2431        2411   2411                                  Arthur Rambo
2432        2412   2412                             Bachchhan Paandey
2433        2413   2413                                      Kernagis
2434        2414   2414                                   Stop-Zemlia
2435        2415   2415                     Listeners: The Whispering

                  actor1  actor1_popularity                actor2  \
0              Tom Hanks             27.299             Tim Allen
1       Kathryn Beaumont              3.164               Ed Wynn
2       Daniel Radcliffe             24.549          Rupert Grint
4      Leonardo DiCaprio             24.953  Joseph Gordon-Levitt
5             Mike Myers             16.026          Eddie Murphy
...                  ...                ...                   ...
2431  Rabah Nait Oufella              4.588      Antoine Reinartz
2432        Akshay Kumar              3.945           Kriti Sanon
2433   Vytautas Kernagis              0.652      Dalia Kernagienė
2434   Maria Fedorchenko              0.600        Arsenii Markov
2435            Quang Sự              0.600             Oanh Kiều

      actor2_popularity                actor3  actor3_popularity  \
0                18.361           Joan Cusack             14.925
1                 5.868         Richard Haydn              5.899
2                11.399           Emma Watson             69.598
4                20.585          Ken Watanabe             19.690
5                13.301          Cameron Diaz             18.596
...                 ...                   ...                ...
2431              2.234     Aleksandra Yermak              1.960
2432              6.833  Jacqueline Fernandez              2.750
2433              0.600        Eglė Kernagytė              0.600
2434              0.600         Yana Isaienko              0.600
2435              3.525        Phạm Quỳnh Anh              0.600

                    actor4  ...  Box Office (Gross USA) Release-Date  \
0              Don Rickles  ...             415000000.0   2010-06-18
1        Sterling Holloway  ...                     NaN   2010-03-05
2     Helena Bonham Carter  ...             295000000.0   2010-11-19
4                Tom Hardy  ...             292600000.0   2010-07-16
5         Antonio Banderas  ...                     NaN   2010-05-21
...                    ...  ...                     ...          ...
2431        Sofian Khammes  ...                     NaN            0
2432          Arshad Warsi  ...                     NaN    2022-3-18
2433                   NaN  ...                     NaN            0
2434      Oleksandr Ivanov  ...                     NaN    2022-1-21
2435            Quốc Cường  ...                     NaN            0

        Revenue      Revenue1  NumTheatres  \
0     415004880  $415,004,880            2
1     334191110  $334,191,110            3
2     280230127  $295,983,305            7
4     292558188  $292,576,195            6
5     238736787  $238,736,787            9
...         ...           ...          ...
2431        NaN           NaN          NaN
2432        NaN           NaN          NaN
2433        NaN           NaN          NaN
2434        NaN           NaN          NaN
2435        NaN           NaN          NaN

                               Production   startdate  releasedate  Text  \
0     Walt Disney Studios Motion Pictures  2010-06-11   2010-06-18   NaN
1     Walt Disney Studios Motion Pictures         NaN          NaN   NaN
2                            Warner Bros.  2010-11-12   2010-11-19   NaN
4                            Warner Bros.  2010-07-09   2010-07-16   NaN
5                              DreamWorks  2010-05-14   2010-05-21   NaN
...                                   ...         ...          ...   ...
2431                                  NaN         NaN          NaN   NaN
2432                                  NaN         NaN          NaN   NaN
2433                                  NaN         NaN          NaN   NaN
2434                                  NaN         NaN          NaN   NaN
2435                                  NaN         NaN          NaN   NaN

     mean_google_trend_popularity
0                          46.375
1                             NaN
2                          48.000
4                          33.500
5                          34.625
...                           ...
2431                          NaN
2432                          NaN
2433                          NaN
2434                          NaN
2435                          NaN

[2172 rows x 44 columns]

In [ ]:
li = []
for dic in data['Revenue']:
  try:
    
    dic = dic.replace("$","").replace(",","")
    li.append(dic)
  except:
    li.append(dic)  
data['Revenue'] = li

KeyError: ignored

In [ ]:
df = pd.read_csv("/content/gdrive/MyDrive/tomatopy/gt1-data.csv", encoding='utf-8')

In [ ]:
li = []
for dic in df['Revenue-1']:
  try:
    
    dic = dic.replace("$","").replace(",","")
    li.append(dic)
  except:
    li.append(dic)  
df['Revenue-1'] = li

In [ ]:
df.to_csv("/content/gdrive/MyDrive/tomatopy/cleaned-data.csv", encoding='utf-8')

In [ ]:
print(df)

      Unnamed: 0  index                                   Movie Title  \
0              0      0                                   Toy Story 3
1              1      1                           Alice in Wonderland
2              2      2  Harry Potter and the Deathly Hallows: Part 1
3              4      4                                     Inception
4              5      5                           Shrek Forever After
...          ...    ...                                           ...
2167        2431   2411                                  Arthur Rambo
2168        2432   2412                             Bachchhan Paandey
2169        2433   2413                                      Kernagis
2170        2434   2414                                   Stop-Zemlia
2171        2435   2415                     Listeners: The Whispering

                  actor1  actor1_popularity                actor2  \
0              Tom Hanks             27.299             Tim Allen
1       Kathryn Beaumont              3.164               Ed Wynn
2       Daniel Radcliffe             24.549          Rupert Grint
3      Leonardo DiCaprio             24.953  Joseph Gordon-Levitt
4             Mike Myers             16.026          Eddie Murphy
...                  ...                ...                   ...
2167  Rabah Nait Oufella              4.588      Antoine Reinartz
2168        Akshay Kumar              3.945           Kriti Sanon
2169   Vytautas Kernagis              0.652      Dalia Kernagienė
2170   Maria Fedorchenko              0.600        Arsenii Markov
2171            Quang Sự              0.600             Oanh Kiều

      actor2_popularity                actor3  actor3_popularity  \
0                18.361           Joan Cusack             14.925
1                 5.868         Richard Haydn              5.899
2                11.399           Emma Watson             69.598
3                20.585          Ken Watanabe             19.690
4                13.301          Cameron Diaz             18.596
...                 ...                   ...                ...
2167              2.234     Aleksandra Yermak              1.960
2168              6.833  Jacqueline Fernandez              2.750
2169              0.600        Eglė Kernagytė              0.600
2170              0.600         Yana Isaienko              0.600
2171              3.525        Phạm Quỳnh Anh              0.600

                    actor4  ...                      Director  \
0              Don Rickles  ...                   Lee Unkrich
1        Sterling Holloway  ...  Cecil M. Hepworth,Percy Stow
2     Helena Bonham Carter  ...                   David Yates
3                Tom Hardy  ...             Christopher Nolan
4         Antonio Banderas  ...                 Mike Mitchell
...                    ...  ...                           ...
2167        Sofian Khammes  ...                Laurent Cantet
2168          Arshad Warsi  ...                  Farhad Samji
2169                   NaN  ...                           NaN
2170      Oleksandr Ivanov  ...            Kateryna Gornostai
2171            Quốc Cường  ...                           NaN

                                               Producer  \
0                                     Darla K. Anderson
1                                                   NaN
2                David Heyman,David Barron,J.K. Rowling
3                         Christopher Nolan,Emma Thomas
4                                Gina Shay,Teresa Cheng
...                                                 ...
2167                                 Marie-Ange Luciani
2168                      Sajid Nadiadwala,Manoj Mittra
2169                                                NaN
2170  Olga Beskhmelnitsyna,Viktoria Khomenko,Natalia...
2171                                                NaN

      Box Office (Gross USA)  Release-Date      Revenue  NumTheatres  \
0                415000000.0    2010-06-18  415004880.0          2.0
1                        NaN    2010-03-05  334191110.0          3.0
2                295000000.0    2010-11-19  280230127.0          7.0
3                292600000.0    2010-07-16  292558188.0          6.0
4                        NaN    2010-05-21  238736787.0          9.0
...                      ...           ...          ...          ...
2167                     NaN             0          NaN          NaN
2168                     NaN    2022-03-18          NaN          NaN
2169                     NaN             0          NaN          NaN
2170                     NaN    2022-01-21          NaN          NaN
2171                     NaN             0          NaN          NaN

                               Production   startdate  \
0     Walt Disney Studios Motion Pictures  2010-06-11
1     Walt Disney Studios Motion Pictures         NaN
2                            Warner Bros.  2010-11-12
3                            Warner Bros.  2010-07-09
4                              DreamWorks  2010-05-14
...                                   ...         ...
2167                                  NaN         NaN
2168                                  NaN         NaN
2169                                  NaN         NaN
2170                                  NaN         NaN
2171                                  NaN         NaN

      mean_google_trend_popularity     Revenue-1
0                           46.375  415004880.00
1                              NaN  334191110.00
2                           48.000  295983305.00
3                           33.500  292576195.00
4                           34.625  238736787.00
...                            ...           ...
2167                           NaN           NaN
2168                           NaN           NaN
2169                           NaN           NaN
2170                           NaN           NaN
2171                           NaN           NaN

[2172 rows x 42 columns]

In [ ]:
(df['budget'] ==0.0).sum()

716

In [ ]:
(df['revenue'] ==0.0).sum()

592

In [ ]:
df['Revenue'].isna().sum()

796

In [ ]:
(df['tmdb_popularity'] ==0.0).sum()

1

In [ ]:
df = df[df.revenue != 0.0]
df = df[df.budget != 0.0]

In [ ]:
df = df[df.budget != 0.0]

In [ ]:
print(df)

      Unnamed: 0  index                                   Movie Title  \
0              0      0                                   Toy Story 3
1              1      1                           Alice in Wonderland
2              2      2  Harry Potter and the Deathly Hallows: Part 1
3              4      4                                     Inception
4              5      5                           Shrek Forever After
...          ...    ...                                           ...
2059        2322   2302                                   Turning Red
2061        2324   2304                                        Cyrano
2068        2331   2311                                     Ambulance
2082        2345   2325                   Around the World in 80 Days
2098        2361   2341                                      Swingers

                     actor1  actor1_popularity                actor2  \
0                 Tom Hanks             27.299             Tim Allen
1          Kathryn Beaumont              3.164               Ed Wynn
2          Daniel Radcliffe             24.549          Rupert Grint
3         Leonardo DiCaprio             24.953  Joseph Gordon-Levitt
4                Mike Myers             16.026          Eddie Murphy
...                     ...                ...                   ...
2059         Rosalie Chiang              9.263             Sandra Oh
2061         Peter Dinklage             14.994         Haley Bennett
2068  Yahya Abdul-Mateen II             11.716       Jake Gyllenhaal
2082            Jackie Chan             26.273          Steve Coogan
2098           Vince Vaughn             17.127           Jon Favreau

      actor2_popularity               actor3  actor3_popularity  \
0                18.361          Joan Cusack             14.925
1                 5.868        Richard Haydn              5.899
2                11.399          Emma Watson             69.598
3                20.585         Ken Watanabe             19.690
4                13.301         Cameron Diaz             18.596
...                 ...                  ...                ...
2059             16.974            Ava Morse             10.545
2061             25.423  Kelvin Harrison Jr.             12.327
2068             21.848        Eiza González             26.314
2082              8.401     Cécile de France             12.926
2098             13.562       Heather Graham             20.946

                    actor4  ...                      Director  \
0              Don Rickles  ...                   Lee Unkrich
1        Sterling Holloway  ...  Cecil M. Hepworth,Percy Stow
2     Helena Bonham Carter  ...                   David Yates
3                Tom Hardy  ...             Christopher Nolan
4         Antonio Banderas  ...                 Mike Mitchell
...                    ...  ...                           ...
2059            Hyein Park  ...                     Domee Shi
2061        Ben Mendelsohn  ...                    Joe Wright
2068      Garret Dillahunt  ...                   Michael Bay
2082         Jim Broadbent  ...                           NaN
2098      Patrick Van Horn  ...     Andrejs Ekis,Dmitriy Fiks

                                               Producer  \
0                                     Darla K. Anderson
1                                                   NaN
2                David Heyman,David Barron,J.K. Rowling
3                         Christopher Nolan,Emma Thomas
4                                Gina Shay,Teresa Cheng
...                                                 ...
2059                                    Lindsey Collins
2061                  Tim Bevan,Eric Fellner,Guy Heeley
2068  Michael Bay,Bradley J. Fischer,James Vanderbil...
2082                                                NaN
2098  Kristians Alhimionoks,Andrejs Ekis,Dmitriy Fik...

      Box Office (Gross USA)  Release-Date      Revenue  NumTheatres  \
0                415000000.0    2010-06-18  415004880.0          2.0
1                        NaN    2010-03-05  334191110.0          3.0
2                295000000.0    2010-11-19  280230127.0          7.0
3                292600000.0    2010-07-16  292558188.0          6.0
4                        NaN    2010-05-21  238736787.0          9.0
...                      ...           ...          ...          ...
2059                     NaN             0          NaN          NaN
2061               3900000.0    2022-02-25    3849448.0         31.0
2068              15700000.0    2022-04-08          NaN          NaN
2082                     NaN             0          NaN          NaN
2098                     NaN    2022-01-27          NaN          NaN

                               Production   startdate  \
0     Walt Disney Studios Motion Pictures  2010-06-11
1     Walt Disney Studios Motion Pictures         NaN
2                            Warner Bros.  2010-11-12
3                            Warner Bros.  2010-07-09
4                              DreamWorks  2010-05-14
...                                   ...         ...
2059                                  NaN         NaN
2061             United Artists Releasing  2022-02-18
2068                                  NaN         NaN
2082                                  NaN         NaN
2098                                  NaN         NaN

      mean_google_trend_popularity     Revenue-1
0                           46.375  415004880.00
1                              NaN  334191110.00
2                           48.000  295983305.00
3                           33.500  292576195.00
4                           34.625  238736787.00
...                            ...           ...
2059                           NaN           NaN
2061                        57.375    3849448.00
2068                           NaN           NaN
2082                           NaN           NaN
2098                           NaN           NaN

[1384 rows x 42 columns]

In [ ]:
correlation = df['budget'].corr(df['revenue'])

In [ ]:
print(correlation)

0.7273151112381133

In [ ]:
df1 = df[df.tmdb_popularity != 0.0]

In [ ]:
df1 = df1[df1.revenue!=0.0]

In [ ]:
correlation = df1['tmdb_popularity'].corr(df1['revenue'])

In [ ]:
print(correlation)

0.19466557343813223

In [ ]:
print(df['Score_Audience'].isna().sum())
df1 = df[df['Score_Audience'].notna()]

df1[df1.revenue!=0.0]
correlation = df1['Score_Audience'].corr(df1['revenue'])
print(correlation)

500
0.21793373677105882

In [ ]:
print(df['Score_Rotten'].isna().sum())
df1 = df[df['Score_Rotten'].notna()]

df1[df1.revenue!=0.0]
correlation = df1['Score_Rotten'].corr(df1['revenue'])
print(correlation)

647
0.14495645170878216

In [ ]:
print(df['averageRating'].isna().sum())
df1 = df[df['averageRating'].notna()]

df1[df1.revenue!=0.0]
correlation = df1['averageRating'].corr(df1['revenue'])
print(correlation)

0
0.25199988457930805

In [ ]:
print(df['numVotes'].isna().sum())
df1 = df[df['numVotes'].notna()]

df1[df1.revenue!=0.0]
correlation = df1['numVotes'].corr(df1['revenue'])
print(correlation)

0
0.6734286322465683

In [ ]:
dfo = df[df.revenue != 0.0]
dfo = dfo[dfo.budget != 0.0]

In [ ]:
li = []
for index, row in dfo.iterrows():
  val = (row['revenue'] - row['budget'])/(row['budget'])
  li.append(val)
dfo['profit-percent'] = li

In [ ]:
print(dfo)
print(dfo['profit-percent'].tolist())

In [ ]:
print(dfo['Score_Audience'].isna().sum())
df1 = dfo[dfo['Score_Audience'].notna()]

correlation = df1['Score_Audience'].corr(df1['profit-percent'])
print(correlation)

109
0.03427042883689355

In [ ]:
print(dfo['numVotes'].isna().sum())
df1 = dfo[dfo['numVotes'].notna()]

correlation = df1['numVotes'].corr(df1['profit-percent'])
print(correlation)

0
-0.023123366959620733

In [ ]:
print(dfo['averageRating'].isna().sum())
df1 = dfo[dfo['averageRating'].notna()]

correlation = df1['averageRating'].corr(df1['profit-percent'])
print(correlation)

0
0.002788013091175951

In [ ]:
print(dfo['tmdb_popularity'].isna().sum())
df1 = dfo[dfo['tmdb_popularity'].notna()]

correlation = df1['tmdb_popularity'].corr(df1['profit-percent'])
print(correlation)

0
-0.008244188750656729

In [ ]:
print(dfo['Score_Rotten'].isna().sum())
df1 = dfo[dfo['Score_Rotten'].notna()]

correlation = df1['Score_Rotten'].corr(df1['profit-percent'])
print(correlation)

144
0.04944465878336549

In [ ]:
print(dfo['mean_google_trend_popularity'].isna().sum())
df1 = dfo[dfo['mean_google_trend_popularity'].notna()]

correlation = df1['mean_google_trend_popularity'].corr(df1['profit-percent'])
print(correlation)

104
0.03294551272617163

In [ ]:
print(dfo['mean_google_trend_popularity'].isna().sum())
df1 = dfo[dfo['mean_google_trend_popularity'].notna()]

correlation = df1['mean_google_trend_popularity'].corr(df1['profit-percent'])
print(correlation)

In [ ]:
dfo = df[df.budget != 0.0]
print(dfo)
li = []
for index, row in dfo.iterrows():
  val = (row['Worldwide'] - row['budget'])/(row['budget'])
  li.append(val)
dfo['profit-percent'] = li
print(dfo)

      Unnamed: 0  index                                   Movie Title  \
0              0      0                                   Toy Story 3
1              1      1                           Alice in Wonderland
2              2      2  Harry Potter and the Deathly Hallows: Part 1
3              4      4                                     Inception
4              5      5                           Shrek Forever After
...          ...    ...                                           ...
2082        2345   2325                   Around the World in 80 Days
2083        2346   2326                           The Exorcism of God
2098        2361   2341                                      Swingers
2109        2372   2352                                Alors on danse
2132        2395   2375                                  Murder Party

                 actor1  actor1_popularity                   actor2  \
0             Tom Hanks             27.299                Tim Allen
1      Kathryn Beaumont              3.164                  Ed Wynn
2      Daniel Radcliffe             24.549             Rupert Grint
3     Leonardo DiCaprio             24.953     Joseph Gordon-Levitt
4            Mike Myers             16.026             Eddie Murphy
...                 ...                ...                      ...
2082        Jackie Chan             26.273             Steve Coogan
2083     Will Beinbrink              4.679  María Gabriela de Faría
2098       Vince Vaughn             17.127              Jon Favreau
2109     Isabelle Nanty              9.095          Michèle Laroque
2132        Chris Sharp              0.677              Macon Blair

      actor2_popularity             actor3  actor3_popularity  \
0                18.361        Joan Cusack             14.925
1                 5.868      Richard Haydn              5.899
2                11.399        Emma Watson             69.598
3                20.585       Ken Watanabe             19.690
4                13.301       Cameron Diaz             18.596
...                 ...                ...                ...
2082              8.401   Cécile de France             12.926
2083              8.922      Irán Castillo              4.111
2098             13.562     Heather Graham             20.946
2109              4.785  Thierry Lhermitte              2.354
2132              5.903         Stacy Rock              1.400

                    actor4  ...                      Director  \
0              Don Rickles  ...                   Lee Unkrich
1        Sterling Holloway  ...  Cecil M. Hepworth,Percy Stow
2     Helena Bonham Carter  ...                   David Yates
3                Tom Hardy  ...             Christopher Nolan
4         Antonio Banderas  ...                 Mike Mitchell
...                    ...  ...                           ...
2082         Jim Broadbent  ...                           NaN
2083        Joseph Marcell  ...             Alejandro Hidalgo
2098      Patrick Van Horn  ...     Andrejs Ekis,Dmitriy Fiks
2109        Patrick Timsit  ...                           NaN
2132         Skei Saulnier  ...               Jeremy Saulnier

                                               Producer  \
0                                     Darla K. Anderson
1                                                   NaN
2                David Heyman,David Barron,J.K. Rowling
3                         Christopher Nolan,Emma Thomas
4                                Gina Shay,Teresa Cheng
...                                                 ...
2082                                                NaN
2083  Antonio Abdo,Alejandro Hidalgo,Joel Seidl,Kari...
2098  Kristians Alhimionoks,Andrejs Ekis,Dmitriy Fik...
2109                                                NaN
2132                          Skei Saulnier,Chris Sharp

      Box Office (Gross USA)  Release-Date      Revenue  NumTheatres  \
0                415000000.0    2010-06-18  415004880.0          2.0
1                        NaN    2010-03-05  334191110.0          3.0
2                295000000.0    2010-11-19  280230127.0          7.0
3                292600000.0    2010-07-16  292558188.0          6.0
4                        NaN    2010-05-21  238736787.0          9.0
...                      ...           ...          ...          ...
2082                     NaN             0          NaN          NaN
2083                     NaN    2022-03-11          NaN          NaN
2098                     NaN    2022-01-27          NaN          NaN
2109                     NaN             0          NaN          NaN
2132                     NaN             0          NaN          NaN

                               Production   startdate  \
0     Walt Disney Studios Motion Pictures  2010-06-11
1     Walt Disney Studios Motion Pictures         NaN
2                            Warner Bros.  2010-11-12
3                            Warner Bros.  2010-07-09
4                              DreamWorks  2010-05-14
...                                   ...         ...
2082                                  NaN         NaN
2083                                  NaN         NaN
2098                                  NaN         NaN
2109                                  NaN         NaN
2132                                  NaN         NaN

      mean_google_trend_popularity     Revenue-1
0                           46.375  415004880.00
1                              NaN  334191110.00
2                           48.000  295983305.00
3                           33.500  292576195.00
4                           34.625  238736787.00
...                            ...           ...
2082                           NaN           NaN
2083                           NaN           NaN
2098                           NaN           NaN
2109                           NaN           NaN
2132                           NaN           NaN

[1456 rows x 42 columns]
      Unnamed: 0  index                                   Movie Title  \
0              0      0                                   Toy Story 3
1              1      1                           Alice in Wonderland
2              2      2  Harry Potter and the Deathly Hallows: Part 1
3              4      4                                     Inception
4              5      5                           Shrek Forever After
...          ...    ...                                           ...
2082        2345   2325                   Around the World in 80 Days
2083        2346   2326                           The Exorcism of God
2098        2361   2341                                      Swingers
2109        2372   2352                                Alors on danse
2132        2395   2375                                  Murder Party

                 actor1  actor1_popularity                   actor2  \
0             Tom Hanks             27.299                Tim Allen
1      Kathryn Beaumont              3.164                  Ed Wynn
2      Daniel Radcliffe             24.549             Rupert Grint
3     Leonardo DiCaprio             24.953     Joseph Gordon-Levitt
4            Mike Myers             16.026             Eddie Murphy
...                 ...                ...                      ...
2082        Jackie Chan             26.273             Steve Coogan
2083     Will Beinbrink              4.679  María Gabriela de Faría
2098       Vince Vaughn             17.127              Jon Favreau
2109     Isabelle Nanty              9.095          Michèle Laroque
2132        Chris Sharp              0.677              Macon Blair

      actor2_popularity             actor3  actor3_popularity  \
0                18.361        Joan Cusack             14.925
1                 5.868      Richard Haydn              5.899
2                11.399        Emma Watson             69.598
3                20.585       Ken Watanabe             19.690
4                13.301       Cameron Diaz             18.596
...                 ...                ...                ...
2082              8.401   Cécile de France             12.926
2083              8.922      Irán Castillo              4.111
2098             13.562     Heather Graham             20.946
2109              4.785  Thierry Lhermitte              2.354
2132              5.903         Stacy Rock              1.400

                    actor4  ...  \
0              Don Rickles  ...
1        Sterling Holloway  ...
2     Helena Bonham Carter  ...
3                Tom Hardy  ...
4         Antonio Banderas  ...
...                    ...  ...
2082         Jim Broadbent  ...
2083        Joseph Marcell  ...
2098      Patrick Van Horn  ...
2109        Patrick Timsit  ...
2132         Skei Saulnier  ...

                                               Producer  \
0                                     Darla K. Anderson
1                                                   NaN
2                David Heyman,David Barron,J.K. Rowling
3                         Christopher Nolan,Emma Thomas
4                                Gina Shay,Teresa Cheng
...                                                 ...
2082                                                NaN
2083  Antonio Abdo,Alejandro Hidalgo,Joel Seidl,Kari...
2098  Kristians Alhimionoks,Andrejs Ekis,Dmitriy Fik...
2109                                                NaN
2132                          Skei Saulnier,Chris Sharp

     Box Office (Gross USA)  Release-Date      Revenue  NumTheatres  \
0               415000000.0    2010-06-18  415004880.0          2.0
1                       NaN    2010-03-05  334191110.0          3.0
2               295000000.0    2010-11-19  280230127.0          7.0
3               292600000.0    2010-07-16  292558188.0          6.0
4                       NaN    2010-05-21  238736787.0          9.0
...                     ...           ...          ...          ...
2082                    NaN             0          NaN          NaN
2083                    NaN    2022-03-11          NaN          NaN
2098                    NaN    2022-01-27          NaN          NaN
2109                    NaN             0          NaN          NaN
2132                    NaN             0          NaN          NaN

                               Production   startdate  \
0     Walt Disney Studios Motion Pictures  2010-06-11
1     Walt Disney Studios Motion Pictures         NaN
2                            Warner Bros.  2010-11-12
3                            Warner Bros.  2010-07-09
4                              DreamWorks  2010-05-14
...                                   ...         ...
2082                                  NaN         NaN
2083                                  NaN         NaN
2098                                  NaN         NaN
2109                                  NaN         NaN
2132                                  NaN         NaN

      mean_google_trend_popularity     Revenue-1 profit-percent
0                           46.375  415004880.00       4.334849
1                              NaN  334191110.00     340.822370
2                           48.000  295983305.00       2.906148
3                           33.500  292576195.00       4.163357
4                           34.625  238736787.00       3.561217
...                            ...           ...            ...
2082                           NaN           NaN      -0.981049
2083                           NaN           NaN       0.376446
2098                           NaN           NaN       4.844085
2109                           NaN           NaN      -0.899677
2132                           NaN           NaN       1.387316

[1456 rows x 43 columns]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
print(dfo)
print(dfo['profit-percent'].tolist())

In [ ]:
print(dfo['Score_Audience'].isna().sum())
df1 = dfo[dfo['Score_Audience'].notna()]

correlation = df1['Score_Audience'].corr(df1['profit-percent'])
print(correlation)

134
-0.016557195154171225

In [ ]:
print(dfo['numVotes'].isna().sum())
df1 = dfo[dfo['numVotes'].notna()]

correlation = df1['numVotes'].corr(df1['profit-percent'])
print(correlation)

0
-0.021100171044879233

In [ ]:
print(dfo['tmdb_popularity'].isna().sum())
df1 = dfo[dfo['tmdb_popularity'].notna()]

correlation = df1['tmdb_popularity'].corr(df1['profit-percent'])
print(correlation)

0
-0.00774957481259853

In [ ]:
print(dfo['Score_Rotten'].isna().sum())
df1 = dfo[dfo['Score_Rotten'].notna()]

correlation = df1['Score_Rotten'].corr(df1['profit-percent'])
print(correlation)

178
0.01440515196560355

In [ ]:
print(dfo['mean_google_trend_popularity'].isna().sum())
df1 = dfo[dfo['mean_google_trend_popularity'].notna()]

correlation = df1['mean_google_trend_popularity'].corr(df1['profit-percent'])
print(correlation)

151
-0.037702433904554654

In [ ]:
df= pd.read_csv("/content/gdrive/MyDrive/complete-date-pop.csv", encoding='utf-8')

In [ ]:
print(df)

      Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  index  \
0              0             0               0      0
1              1             1               1      1
2              2             2               2      2
3              3             3               4      4
4              4             4               5      5
...          ...           ...             ...    ...
2167        2167          2167            2431   2411
2168        2168          2168            2432   2412
2169        2169          2169            2433   2413
2170        2170          2170            2434   2414
2171        2171          2171            2435   2415

                                       Movie Title              actor1  \
0                                      Toy Story 3           Tom Hanks
1                              Alice in Wonderland    Kathryn Beaumont
2     Harry Potter and the Deathly Hallows: Part 1    Daniel Radcliffe
3                                        Inception   Leonardo DiCaprio
4                              Shrek Forever After          Mike Myers
...                                            ...                 ...
2167                                  Arthur Rambo  Rabah Nait Oufella
2168                             Bachchhan Paandey        Akshay Kumar
2169                                      Kernagis   Vytautas Kernagis
2170                                   Stop-Zemlia   Maria Fedorchenko
2171                     Listeners: The Whispering            Quang Sự

      actor1_popularity                actor2  actor2_popularity  \
0                27.299             Tim Allen             18.361
1                 3.164               Ed Wynn              5.868
2                24.549          Rupert Grint             11.399
3                24.953  Joseph Gordon-Levitt             20.585
4                16.026          Eddie Murphy             13.301
...                 ...                   ...                ...
2167              4.588      Antoine Reinartz              2.234
2168              3.945           Kriti Sanon              6.833
2169              0.652      Dalia Kernagienė              0.600
2170              0.600        Arsenii Markov              0.600
2171              0.600             Oanh Kiều              3.525

                    actor3  ...  Box Office (Gross USA) Release-Date  \
0              Joan Cusack  ...               415000000    6/18/2010
1            Richard Haydn  ...                     NaN     3/5/2010
2              Emma Watson  ...               295000000   11/19/2010
3             Ken Watanabe  ...               292600000    7/16/2010
4             Cameron Diaz  ...                     NaN    5/21/2010
...                    ...  ...                     ...          ...
2167     Aleksandra Yermak  ...                     NaN            0
2168  Jacqueline Fernandez  ...                     NaN    3/18/2022
2169        Eglė Kernagytė  ...                     NaN            0
2170         Yana Isaienko  ...                     NaN    1/21/2022
2171        Phạm Quỳnh Anh  ...                     NaN            0

          Revenue NumTheatres                           Production  \
0     415004880.0         2.0  Walt Disney Studios Motion Pictures
1     334191110.0         3.0  Walt Disney Studios Motion Pictures
2     280230127.0         7.0                         Warner Bros.
3     292558188.0         6.0                         Warner Bros.
4     238736787.0         9.0                           DreamWorks
...           ...         ...                                  ...
2167          NaN         NaN                                  NaN
2168          NaN         NaN                                  NaN
2169          NaN         NaN                                  NaN
2170          NaN         NaN                                  NaN
2171          NaN         NaN                                  NaN

       startdate  mean_google_trend_popularity    Revenue-1  \
0      6/11/2010                        46.375  415004880.0
1            NaN                           NaN  334191110.0
2     11/12/2010                        48.000  295983305.0
3       7/9/2010                        33.500  292576195.0
4      5/14/2010                        34.625  238736787.0
...          ...                           ...          ...
2167         NaN                           NaN          NaN
2168         NaN                           NaN          NaN
2169         NaN                           NaN          NaN
2170         NaN                           NaN          NaN
2171         NaN                           NaN          NaN

      director_popularity  producer_popularity
0                   4.140             1.388000
1                   0.000            15.264000
2                  14.088             6.070667
3                  15.857            14.426000
4                   5.691             1.890500
...                   ...                  ...
2167                1.400             0.600000
2168                2.750             1.631500
2169               15.264            15.264000
2170                2.887             0.795000
2171               15.264            15.264000

[2172 rows x 46 columns]

In [ ]:
df1= pd.read_csv("/content/gdrive/MyDrive/budget - Sheet1.csv", encoding='utf-8')

In [ ]:
print(df1)

      Release-date                 Movie       Budget      revenue  \
0      Jan 8, 2010             Leap Year  $19,000,000  $25,918,920
1      Jan 8, 2010       Youth in Revolt  $18,000,000  $15,285,588
2     Jan 15, 2010       The Book of Eli  $80,000,000  $94,835,059
3     Jan 15, 2010             Fish Tank   $3,000,000     $374,675
4     Jan 15, 2010     The Spy Next Door  $28,000,000  $24,307,106
...            ...                   ...          ...          ...
2532       Unknown  I Come with the Rain  $18,000,000           $0
2533       Unknown                Taxi 4  $17,500,000           $0
2534       Unknown  Arn - Tempelriddaren  $16,500,000           $0
2535       Unknown               Bathory  $15,000,000           $0
2536       Unknown                  Ca$h  $13,700,000           $0

          wrevenue
0      $32,618,920
1      $19,685,588
2     $158,750,817
3       $5,922,292
4      $46,752,858
...            ...
2532      $627,422
2533   $60,865,364
2534   $21,404,122
2535    $3,436,763
2536   $11,738,256

[2537 rows x 5 columns]

In [ ]:
df2 = df[df.budget == 0.0]

In [ ]:
print(df2)

      Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  index  \
60            60            60              77     75
63            63            63              80     78
71            71            71              89     87
78            78            78              96     94
79            79            79              97     95
...          ...           ...             ...    ...
2167        2167          2167            2431   2411
2168        2168          2168            2432   2412
2169        2169          2169            2433   2413
2170        2170          2170            2434   2414
2171        2171          2171            2435   2415

                                  Movie Title              actor1  \
60                        Let the Bullets Fly        Chow Yun-Fat
63                Umizaru 3: The Last Message         Hideaki Ito
71    Bayside Shakedown 3: Set the Guys Loose            Yuji Oda
78                       Diary of a Wimpy Kid          Brady Noon
79                       If You Are the One 2              Ge You
...                                       ...                 ...
2167                             Arthur Rambo  Rabah Nait Oufella
2168                        Bachchhan Paandey        Akshay Kumar
2169                                 Kernagis   Vytautas Kernagis
2170                              Stop-Zemlia   Maria Fedorchenko
2171                Listeners: The Whispering            Quang Sự

      actor1_popularity                   actor2  actor2_popularity  \
60               13.342                   Ge You              3.421
63                9.538                  Ai Kato              1.400
71                2.769              Eri Fukatsu              4.737
78                5.968  Ethan William Childress              1.749
79                3.421                   Shu Qi             15.112
...                 ...                      ...                ...
2167              4.588         Antoine Reinartz              2.234
2168              3.945              Kriti Sanon              6.833
2169              0.652         Dalia Kernagienė              0.600
2170              0.600           Arsenii Markov              0.600
2171              0.600                Oanh Kiều              3.525

                    actor3  ...  Box Office (Gross USA) Release-Date  \
60               Jiang Wen  ...                   60.0K     3/2/2012
63                  Karina  ...                     NaN            0
71       Yūsuke Santamaria  ...                     NaN            0
78           Hunter Dillon  ...                     NaN    3/19/2010
79             Sun Honglei  ...                     NaN            0
...                    ...  ...                     ...          ...
2167     Aleksandra Yermak  ...                     NaN            0
2168  Jacqueline Fernandez  ...                     NaN    3/18/2022
2169        Eglė Kernagytė  ...                     NaN            0
2170         Yana Isaienko  ...                     NaN    1/21/2022
2171        Phạm Quỳnh Anh  ...                     NaN            0

         Revenue NumTheatres             Production  startdate  \
60           NaN         NaN                    NaN  2/24/2012
63           NaN         NaN                    NaN        NaN
71           NaN         NaN                    NaN        NaN
78    64003625.0        48.0  Twentieth Century Fox  3/12/2010
79           NaN         NaN                    NaN        NaN
...          ...         ...                    ...        ...
2167         NaN         NaN                    NaN        NaN
2168         NaN         NaN                    NaN        NaN
2169         NaN         NaN                    NaN        NaN
2170         NaN         NaN                    NaN        NaN
2171         NaN         NaN                    NaN        NaN

      mean_google_trend_popularity   Revenue-1  director_popularity  \
60                          47.125         NaN                0.600
63                             NaN         NaN               15.264
71                             NaN         NaN               15.264
78                          49.750  64003625.0                4.294
79                             NaN         NaN                5.947
...                            ...         ...                  ...
2167                           NaN         NaN                1.400
2168                           NaN         NaN                2.750
2169                           NaN         NaN               15.264
2170                           NaN         NaN                2.887
2171                           NaN         NaN               15.264

      producer_popularity
60                 2.1412
63                15.2640
71                15.2640
78                 3.1990
79                 3.5195
...                   ...
2167               0.6000
2168               1.6315
2169              15.2640
2170               0.7950
2171              15.2640

[716 rows x 46 columns]

In [ ]:
df1['Movie Title'] = df1['Movie']

In [ ]:
df1 = df1.drop('Movie',axis=1)

In [ ]:
print(df1)

      Release-date       Budget      revenue      wrevenue  \
0      Jan 8, 2010  $19,000,000  $25,918,920   $32,618,920
1      Jan 8, 2010  $18,000,000  $15,285,588   $19,685,588
2     Jan 15, 2010  $80,000,000  $94,835,059  $158,750,817
3     Jan 15, 2010   $3,000,000     $374,675    $5,922,292
4     Jan 15, 2010  $28,000,000  $24,307,106   $46,752,858
...            ...          ...          ...           ...
2532       Unknown  $18,000,000           $0      $627,422
2533       Unknown  $17,500,000           $0   $60,865,364
2534       Unknown  $16,500,000           $0   $21,404,122
2535       Unknown  $15,000,000           $0    $3,436,763
2536       Unknown  $13,700,000           $0   $11,738,256

               Movie Title
0                Leap Year
1          Youth in Revolt
2          The Book of Eli
3                Fish Tank
4        The Spy Next Door
...                    ...
2532  I Come with the Rain
2533                Taxi 4
2534  Arn - Tempelriddaren
2535               Bathory
2536                  Ca$h

[2537 rows x 5 columns]